[2016-09-19 20:06] jamiebuilds opened #1 "Documentation"
Over the weekend I built out most of the Yarn website and it's now ready for a push to fill out the documentation.

We have a bunch of people working on the documentation in a war room in 14.03 by the walkway to building 12, on September 27-28, so come by if you'd like to help!
## TODO

Here are all the pages of documentation needed before publish. Everything is broken down into "guides". The guid

[2016-09-20 21:42] ide opened #3 "Add some performance results to the documentation / website"
These are the times to install React Native's dependencies on my computer. The full results are below and I've also grouped some of them by common use cases based on npm and kpm's default choice of whether to make a lockfile.

I'm excited about all of the results; kpm is always faster. One thing that's great is that when package.json hasn't changed in a project you're actively working on, kpm runs

[2016-09-23 06:15] Daniel15 opened #6 "Detect operating system and show relevant setup instructions"
It would be nice to detect the user's operating system (probably based on user-agent) and display the correct installation instructions. For example, `apt-get` on Debian or Ubuntu, link to `msi` file or Chocolately instructions for Windows, etc.

See Atom's site for an example of this: https://atom.io/

[2016-09-23 07:17] jamiebuilds opened #7 "Users page"

[2016-09-23 07:20] jamiebuilds opened #8 "Contributing page"
Would be good to put on the site since it can be translated.

Starting point: https://github.com/yarnpkg/yarn/blob/master/CONTRIBUTING.md

[2016-09-23 07:20] jamiebuilds opened #9 "Compatibilty with npm page"
https://github.com/yarnpkg/yarn/issues/375

[2016-09-23 07:21] jamiebuilds opened #10 "Release process page"
Would be good to put on the site since it can be translated.

Blocked by: https://github.com/yarnpkg/yarn/issues/376

[2016-09-23 07:22] jamiebuilds opened #11 "Governance page"
Would be good to put on the site since it can be translated.

Blocked by: https://github.com/yarnpkg/yarn/issues/274

[2016-09-23 07:23] jamiebuilds opened #12 "Code of Conduct page"
https://github.com/yarnpkg/yarn/blob/master/CODE_OF_CONDUCT.md

[2016-09-23 17:38] Daniel15 opened #13 "Redirect for latest download / Download permalinks"
Would be nice to be able to do something like `wget https://yarnpkg.com/latest.tar.gz` to get the latest tarball. Server should do a 302 (temporary) redirect to the latest download URL, which I assume we'd continue hosting using Github releases (for example, `https://github.com/yarnpkg/yarn/releases/download/v0.13.5/kpm-v0.13.5.tar.gz`)

Also ideal would be something like `https://yarnpkg.com/rele

[2016-09-24 00:35] #12 closed, assigned to nobody

[2016-09-26 20:24] thejameskyle opened #16 "Add table mapping npm commands to yarn commands"
Something like:

| npm | yarn |
| --- | --- |
| `npm install` | `yarn install` |
| `npm install [package]` | **_(Intentionally not supported)**_ |
| `npm install --save [package]` | `yarn add [package]` |
| `npm install --save-dev [package]` | `yarn add --dev [package]` |
| ... | ... |

[2016-09-27 17:21] jamesgpearce opened #18 "Drop shadow"
Can we drop the drop shadow and heavy font on the homepage? I think it looks a bit dated.

eg A lighter unshadowed font:

![image](https://cloud.githubusercontent.com/assets/90942/18884408/1b0c5d36-849c-11e6-81fa-b5a5fbdd1c37.png)

[2016-09-27 17:22] jamesgpearce opened #19 "jQuery & Bootstrap"
Do we really need to use jQuery and Bootstrap in the site?

![image](https://cloud.githubusercontent.com/assets/90942/18884433/3817daf4-849c-11e6-8b99-2a4808b90897.png)

[2016-09-27 20:19] ericnakagawa opened #24 "yarn clean"
@kittens, can you explain what 'yarn clean' is meant to do?

After reviewing the code a list of files (ignoreFiles) ends up getting removed (await fs.unlink(loc);).

Are these files not supposed to be deleted?

Link to documentation of 'yarn clean' as it currently works: https://github.com/yarnpkg/website/pull/22

[2016-09-28 02:29] #18 closed, assigned to nobody

[2016-09-28 21:34] #13 closed, assigned to nobody

[2016-10-03 20:09] jamiebuilds opened #48 "Migrating from Bower guide"

[2016-10-04 18:17] #6 closed, assigned to nobody

[2016-10-06 01:01] jamiebuilds opened #50 "Page on npm registry features"
It would be good to have a page that documents that people who are using npm enterprise and private packages can still use Yarn for the client

[2016-10-06 02:23] #11 closed, assigned to nobody

[2016-10-06 02:24] #3 closed, assigned to nobody

[2016-10-06 02:25] #19 closed, assigned to nobody

[2016-10-06 02:26] #10 closed, assigned to nobody

[2016-10-06 10:07] cpojer opened #52 "yarn access"
depends on https://github.com/yarnpkg/yarn/issues/377.

[2016-10-06 10:13] cpojer opened #53 "yarn cache"
Depends on https://github.com/yarnpkg/yarn/issues/529

[2016-10-06 10:13] cpojer opened #54 "yarn clean"

[2016-10-06 10:13] cpojer opened #55 "yarn config"

[2016-10-06 10:14] cpojer opened #56 "yarn generate-lock-entry"

[2016-10-06 10:14] cpojer opened #57 "yarn global"
"yarn global add <package>" replaces "npm install -g <package>".

[2016-10-06 10:15] cpojer opened #58 "yarn init"

[2016-10-06 10:16] cpojer opened #59 "yarn licenses ls"
Depends on https://github.com/yarnpkg/yarn/issues/530

[2016-10-06 10:16] cpojer opened #60 "yarn link"

[2016-10-06 10:19] cpojer opened #61 "yarn ls <package>"
Depends on https://github.com/yarnpkg/yarn/issues/531

[2016-10-06 10:21] cpojer opened #62 "yarn outdated <package>"
Depends on https://github.com/yarnpkg/yarn/issues/532

[2016-10-06 10:23] cpojer opened #63 "yarn run"

[2016-10-06 10:23] cpojer opened #64 "yarn self-update"

[2016-10-06 10:24] cpojer opened #65 "yarn team"
Depends on https://github.com/yarnpkg/yarn/issues/377

[2016-10-06 10:24] cpojer opened #66 "yarn upgrade"

[2016-10-06 10:24] cpojer opened #67 "yarn version"

[2016-10-06 10:27] #54 closed, assigned to nobody

[2016-10-06 10:28] cpojer opened #68 "Installing Dependencies"
This is in `en/docs/installing-dependencies`

[2016-10-06 10:28] cpojer opened #69 "Working with Version Control"
en/docs/version-control

[2016-10-06 10:29] cpojer opened #70 "CLI Introduction"
Under: `en/docs/cli/`

This should say a little bit about the CLI and tell which commands are most important or something.

[2016-10-06 10:29] cpojer opened #71 "Dependencies and versions"
Lives under en/docs/dependencies

[2016-10-06 10:30] cpojer opened #72 "Using package.json"
Under `en/docs/configuration/package-json`

[2016-10-06 10:30] cpojer opened #73 "How Yarn Works"
Under: en/docs/how-yarn-works

Do we need this for the initial launch? I think linking to the announcement blog post is enough for now; it tells the story.

[2016-10-06 10:31] cpojer opened #74 "Translations"
Under: `en/org/translations`

[2016-10-06 23:24] jamiebuilds opened #75 "yarn install --har"
har har har

https://github.com/yarnpkg/yarn/issues/536

[2016-10-07 01:53] #73 closed, assigned to nobody

[2016-10-07 12:49] cpojer opened #78 "yarn bin"
behaves just as `npm bin`.

This doesn't have a docs entry yet at all as I just added the command.

[2016-10-09 22:29] #75 closed, assigned to Daniel15

[2016-10-11 00:52] #63 closed, assigned to JoelMarcey

[2016-10-11 00:58] #74 closed, assigned to JoelMarcey

[2016-10-11 01:05] #78 closed, assigned to JoelMarcey

[2016-10-11 01:06] #59 closed, assigned to JoelMarcey

[2016-10-11 01:07] #70 closed, assigned to JoelMarcey

[2016-10-11 05:19] #52 closed, assigned to nobody

[2016-10-11 07:27] #64 closed, assigned to nobody

[2016-10-11 07:27] #58 closed, assigned to caabernathy

[2016-10-11 07:27] #62 closed, assigned to caabernathy

[2016-10-11 07:27] #67 closed, assigned to caabernathy

[2016-10-11 07:27] #53 closed, assigned to nobody

[2016-10-11 07:28] #24 closed, assigned to nobody

[2016-10-11 07:28] #61 closed, assigned to nobody

[2016-10-11 07:44] #57 closed, assigned to nobody

[2016-10-11 12:34] #60 closed, assigned to nobody

[2016-10-11 13:58] #68 closed, assigned to JoelMarcey

[2016-10-11 13:58] #56 closed, assigned to nobody

[2016-10-11 13:59] #66 closed, assigned to nobody

[2016-10-11 13:59] #1 closed, assigned to nobody

[2016-10-11 14:14] #69 closed, assigned to JoelMarcey

[2016-10-11 14:41] #71 closed, assigned to JoelMarcey

[2016-10-11 14:51] #55 closed

[2016-10-11 15:26] #72 closed

[2016-10-11 15:36] montogeek opened #102 "Spanish translations!"
Hi!

I will start translating the docs to Spanish!

Stay tuned :D

[2016-10-11 15:39] thejameskyle commented on #102
Woah wait don't, not yet. The translations are going to be managed by Crowdin. I haven't finished setting that up

[2016-10-11 15:40] montogeek commented on #102
Oh!

This will no longer apply? https://github.com/yarnpkg/website/blob/master/en/org/translations.md

[2016-10-11 15:47] justinfagnani opened #103 "Add docs for "flat" package.json field"
I didn't see the `"flat"` option mentioned here: https://yarnpkg.com/en/docs/package-json or https://yarnpkg.com/en/docs/creating-a-package

The flat option in package.json was added here: https://github.com/yarnpkg/yarn/commit/06e81aae8ebe38c33d98724cd6e16dc5786cc1f9

There are two main points to cover: `flat: true` in the top level package.json triggers a flat installation. `flat: true` in a dep

[2016-10-11 16:30] markomarkovic opened #111 "Debian installation fails because of existing virtual package"
On debian, there's already a virtual package named `yarn` which installs [`cmdtest package`](https://packages.debian.org/jessie/cmdtest).

From the `cmdtest` package description:

That yarn has nothing to do with this one, but it prevents this one from getting installed.

[code]

[2016-10-11 16:39] markomarkovic commented on #111
FALSE ALARM!

I've failed to select the whole line for creating apt source list file, so I've created `/etc/apt/sources.li` instead of `/etc/apt/sources.list.d/yarn.list`. No wonder it didn't work.

[2016-10-11 16:39] #111 closed

[2016-10-11 16:49] montogeek opened #113 "Missing navigation"
Hi!

When following the website docs this page https://yarnpkg.com/en/docs/cli/generate-lock-entry does not have the bottom navigation, others page do

[2016-10-11 16:50] cpojer commented on #113
Mind sending a PR? We might be missing an import vars or something.

[2016-10-11 16:53] montogeek commented on #113
Sure!

[2016-10-11 17:03] AntSworD opened #114 "need `sudo` permission to write tarball file, if as usual user on macOS"
I think the command of [the document](https://yarnpkg.com/en/docs/install)  need `sudo`

And Yarn is now in `/opt/dist/`  not `/opt/yarn-[version]/` after `tar zvxf yarn-*.tar.gz`

[2016-10-11 17:36] Daniel15 opened #115 "Site should have og:graph meta tag"
Currently it looks pretty bad when shared on Facebook - There's no image.

https://developers.facebook.com/tools/debug/sharing/?q=https%3A%2F%2Fyarnpkg.com%2F

![](http://ss.dan.cx/2016/10/chrome_11-10.35.44.png)

[2016-10-11 17:48] JoelMarcey commented on #115
I am working on this now. Pull request coming hopefully soon.

[2016-10-11 18:13] bdougherty opened #118 "<title> of every page is “Yarn”"
Would be helpful to have the `<title>` match the title of the page.

[2016-10-11 18:18] #115 closed

[2016-10-11 19:14] akshatjain1995 commented on #118
Members can i solve this issue?

[2016-10-11 19:16] JoelMarcey commented on #118
@akshatjain1995 I have a pull request out for this issue already. But there are other open issues both in this repo and the actual [yarn repo](https://github.com/yarnpkg/yarn) as well.

[2016-10-11 19:18] akshatjain1995 commented on #118
Yaa @JoelMarcey  no problem! will look out for some more interesting issue!

[2016-10-11 19:19] akshatjain1995 commented on #113
@JoelMarcey Can i take this issue to solve?

[2016-10-11 19:26] montogeek commented on #113
@akshatjain1995 Go ahead, I am a bit busy today :)

[2016-10-11 19:50] akshatjain1995 opened #123 "Permission denied on make command"
Cloning into '/Users/ilen/Desktop/openSource/yarn-website/_sass/bootstrap'...
Permission denied (publickey).
fatal: Could not read from remote repository.
Please make sure you have the correct access rights
and the repository exists.

 i m getting this error on executing `make` command
What is public key?

[2016-10-11 20:03] akshatjain1995 commented on #113
Thank you @montogeek

[2016-10-11 20:07] #123 closed

[2016-10-11 20:08] #118 closed

[2016-10-11 20:12] akshatjain1995 commented on #113
@montogeek  this issue is solved!! how to proceed further can u explain me!! i m new to the open source!

[2016-10-11 20:14] thejameskyle commented on #113
https://github.com/yarnpkg/website/blob/master/en/docs/cli/generate-lock-entry.md

This has a different page `id` than https://github.com/yarnpkg/website/blob/master/_data/guides.yml#L54

Update the id in that markdown file and it should be fixed

[2016-10-11 20:14] JoelMarcey commented on #113
@akshatjain1995 Did you solve the issue locally (on your machine, for example)? If so, you can send a pull request.

https://help.github.com/articles/creating-a-pull-request-from-a-fork/

[2016-10-11 20:15] akshatjain1995 commented on #113
@JoelMarcey yeah sir! Thank you for the information!

[2016-10-11 20:58] akshatjain1995 commented on #113
@thejameskyle i have edited the following file https://github.com/yarnpkg/website/blob/master/en/docs/cli/generate-lock-entry.md

as u can see that the self-update page is also replacing the `-` with `_`

[2016-10-11 20:59] avindra opened #128 "Document .yarnrc / .npmrc caveats"
Related issues: https://github.com/yarnpkg/yarn/issues/689, https://github.com/yarnpkg/yarn/issues/613

Per https://github.com/yarnpkg/yarn/issues/606, it is currently not possible to simply migrate to `yarn` if your project depends on certain values in `.npmrc`. This should probably be documented on the [Migrating from npm](https://yarnpkg.com/en/docs/migrating-from-npm) page.

To name a few, `ca

[2016-10-11 21:49] shakefu opened #132 "Document .yarnrc, how to use @scoped private packages, how to configure multiple registries"
Docs are super sparse/non-existent on how to use yarn with the above.

Moved from yarnpkg/yarn#689.

[2016-10-11 23:32] ungoldman opened #133 "front page doesn't mention javascript (or node.js)"
Interesting project!

A bit confusing unless the link to the site is sent in a specific context though.

No mention of what yarn is a package manager *for* on https://yarnpkg.com.

Don't see the words "node" or "javascript" anywhere on https://yarnpkg.com, https://yarnpkg.com/en/docs/getting-started, https://yarnpkg.com/en/docs...

After some searching, the [only](https://github.com/yarnpkg/websit

[2016-10-12 06:22] clentfort commented on #133
Buy yarn is not limited to installing JavaScript dependencies. :) At the moment npm is mostly used for JS, but it is not exclusively for JS. Just think about all the CSS and fonts you can install via npm.

Mentioning node or JavaScript would send a wrong message to the community.

[2016-10-12 10:01] iamso opened #140 "Use installation through npm as default"
On the website, under installation, you have different methods to install yarn.
The first thing you say, is that node.js has to be installed, which actually installs npm by default.

So why not have the first method of installation be npm?

Asking people to run a bash script to install yarn, when they could use the much simpler and (from a users perspective) much safer `npm install`, should actual

[2016-10-12 10:26] ungoldman commented on #133
I see your point @clentfort, but the introductory text on the front page still seems a bit too vague to me. It's a package manager using the npm registry, might be a good idea to at least mention that.

[2016-10-12 10:43] cpojer commented on #133
Hey @ungoldman,

thanks for bringing this up. We'll keep the current messaging. Yarn is language agnostic and we'd like to signal that on the website. Nevertheless, you are right, the majority of Yarn usage will be together with JavaScript.

[2016-10-12 10:43] #133 closed

[2016-10-12 14:00] kittens opened #143 "yarn cache dir"

[2016-10-12 14:01] kittens opened #144 "yarn init --yes"

[2016-10-12 14:09] kitsunde opened #146 "yarn install only mentions npm"
It should probably specify it also handles `bower.json`

https://yarnpkg.com/en/docs/cli/install#toc-yarn-install

[2016-10-12 15:34] tyrsius commented on #128
This has been partially addressed by [this fix](https://github.com/yarnpkg/yarn/pull/871)

[2016-10-12 15:41] suitupalex opened #148 "docs/configuration: Add config articles for common CI tools"
It might be useful to have articles on how to properly setup your `.travis.ci`, `circle.yml`, etc. so that they actually use yarn when installing and running tests.

[2016-10-12 17:46] hildjj opened #150 "Add docs for yarn home"
when https://github.com/yarnpkg/yarn/issues/897 is closed, create en/docs/cli/home.md, and create an issue for translation to Japanese.

[2016-10-12 18:05] ashleygwilliams commented on #144
does this actually work? (doesn't seem to in the version i just downloaded) if/when it works i would happily write docs for it :) it's a fave feature of mine in npm and i'd be amped to help out with yarn.

[2016-10-12 18:36] thejameskyle commented on #144
https://github.com/yarnpkg/yarn/pull/873

[2016-10-12 18:39] ashleygwilliams commented on #144
that's excellent news.

[2016-10-12 19:51] ungoldman commented on #133
Maybe mention "language agnostic package manager" on front page?

[2016-10-12 23:12] chuwik commented on #8
Related: made a simple change in #160 to use 'yarn run' for the commands rather than 'npm run'.

[2016-10-13 02:56] cpojer commented on #144
(closing in favor of the PR)

[2016-10-13 02:56] #144 closed

[2016-10-13 02:56] cpojer commented on #143
closing in favor of the PR.

[2016-10-13 02:56] #143 closed

[2016-10-13 02:59] #113 closed

[2016-10-13 13:14] fvsch opened #168 "Insufficient contrast of .feature-text, .text-muted"
Some medium-gray-on-white text doesn't pass WCAG contrast ratio tests:

[code]

See for example this calculator:
http://webaim.org/resources/contrastchecker/

Additionally, I would advise against using `font-weight: 300` for anything but headings, since the thin text stroke increases the contrast issue even more. Font weights below normal/400 are harder to read for body copy in most fonts (with ra

[2016-10-14 09:36] xcatliu opened #176 "Translate to Chinese, we can't wait! 中文文档翻译"
Hi,

I love yarn 😍 , and want to help to translate the website to Chinese.
I noticed that the website itself has a support for i18n, and you have a plan to support multiple languages:
https://yarnpkg.com/en/org/translations

But we can't wait to show this awesome tool to Chinese! We have some volunteers that want to contribute to the translation.

Here is the forked repo: https://github.com/xcatli

[2016-10-14 17:05] Devinsuit opened #179 "Hide language selector on blog"
Page https://yarnpkg.com/blog/2016/10/11/introducing-yarn. The link in the language dropdown menu is broken (https://yarnpkg.com/en/2016/10/11/introducing-yarn)

[2016-10-14 21:04] swang opened #181 "Clarify what' yarn ls' is showing"
_Reposting from yarnkpkg/yarn_

`yarn ls` has no clear documentation. I would like to add some but it I want to be clear what is going on.

![modules](https://cloud.githubusercontent.com/assets/49867/19367199/01aeeae2-914f-11e6-91a9-54085c10929a.png)
From the screenshot, it looks like zip-stream requires a versioning of lodash@~3.2.0 in grey, while the bolded **lodash@3.2.0** is the actual version

[2016-10-15 00:15] Daniel15 commented on #176
Thank you so much for working on this! @thejameskyle is going to set up an awesome translation system for the website, and we'd love for you to assist us! I'll let James speak to the timelines and when we'll actually have the translation system up and running.

Thank you for contributing! 😄

[2016-10-15 11:20] jpartain89 opened #184 "Specifying that yarn is meant for node.js, npm, etc...."
Is it just me or does the entire website only mention this info in passing in a few places?? Should this not be, like, a 2nd header or in the detailed description of your site... Like, the details that get published to google and everywhere? Because I definitely had to search to see WHAT this system "managed", as in was it for every language or what?

Super confusing...

[2016-10-15 18:00] ungoldman commented on #184
Already brought up in #133, the decision was to keep it as is. I agree it's confusing but I think the intention is for yarn to be "language agnostic."

[2016-10-16 19:48] Daniel15 opened #187 "Automate bumping latest_version in config.yml"
Logic should be something like: If there's a newer release on Github, **and** it has **all** artifacts attached (`.tar.gz`, `.deb`, `.rpm`, and `.msi`), then bump `latest_version` and commit it. It's very important to not bump latest_version until all artifacts have been uploaded to the release.

[2016-10-16 20:23] jpartain89 commented on #184
Ok... but even then, to me?? That compounds the confusion..... THAT even isn't mentioned anywhere.... Should that NOT be Prominently featured? Like that should be a primary Google AdSearch-style campaign item...

[2016-10-17 07:45] thejameskyle commented on #184
I don't think it's necessary to go overboard on being language-agnostic at this point. Closing for the same reason as #133

[2016-10-17 07:45] #184 closed

[2016-10-17 08:04] thejameskyle commented on #102
I updated those, they were not correct

[2016-10-17 08:07] thejameskyle commented on #179
The language dropdown should just not show up at all in the blog since it won't be translated

[2016-10-17 21:21] markstos opened #192 "Wish: Add equivalent (or lack of) of "npm rebuild" to the Migrating from NPM guide."
Thanks.

[2016-10-18 02:51] yanyu0517 commented on #176
I and my partner  @shanggqm have create a chinese website, here is the address: [Yarn中文网](http://yarnpkg.top/). We are so glad if you can link the website.
@xcatliu 最近一直在忙，刚看到你发的issue，没来得及回复，请见谅。我们已经完成翻译了，当然水平有限，有些地方翻译的很晦涩，后续我们会持续改进和勘误。不知是否我们可以一起完成？

[2016-10-18 02:59] shanggqm commented on #176
Yarn is an amazing project that perfectly addresses the pain points we have been working on, and we hope that our translation work will contribute to Yarn's popularity in China。

[2016-10-18 05:51] Daniel15 commented on #140
Hi @iamso!

`npm` is not at all well-suited for system-level package management, so we won't be changing this. Here's one of my comments from a few weeks ago:

Also, please see a previous discussion here: https://github.com/yarnpkg/rfcs/issues/9

Not when using Homebrew, the Linux packages, or the Windows Chocolatey package. All of these will automatically install Node.js if it's not already insta

[2016-10-18 05:51] #140 closed

[2016-10-18 06:42] tatthien commented on #176
We want to translate Yarn to Vietnamese also. Notify us when you guy have already finished set up the translation system.

Thank you.

[2016-10-18 07:08] xcatliu commented on #176
@yanyu0517 @shanggqm Great job!
Let's discuss how to merge our work here: https://github.com/yanyu0517/yarnpkgcn/issues/2

[2016-10-18 20:37] avindra commented on #128
Seems like a lot of these are addressed with `0.16`. In my case, the new yarn release is compatible with the proxy settings enforced by our corporate overlords.

Unrelated to this issue, but yarn is wicked fast. Install time dropped from `4m52.238s` to `51.930s` for us. :heart: it

[2016-10-19 06:38] Daniel15 commented on #114
Which command? The `wget` into `/opt`? You can really extract it wherever you want to :)

Although now we have support for Homebrew, which is probably the preferred method of installation on Mac OS.

That's an issue with how we  build the tarball, we should probably fix it.

[2016-10-19 09:00] starInEcust commented on #192
+1

[2016-10-19 13:48] arunaspask commented on #192
+1

[2016-10-19 14:10] markstos commented on #192
@starInEcust @arunaspask Note the "plus smiley face" icon above each comment. Please use that to "thumbs up" a comment you like in the future which registers the same support, but without all the noise and emails that "+1" comments generate.

[2016-10-19 19:05] thejameskyle opened #194 "Add package searching"
npms.io has an api that we could use to power a simple package searching site for npm packages:

https://api.npms.io/v2/search?from=0&q=babel&size=25

I don't want to just point to the npms.io site because I don't really like the scoring mechanism or even adding "scores" to packages in general.

It might be cool to even display the READMEs on the yarn website

[2016-10-19 19:09] thejameskyle commented on #168
I'm surprised the default bootstrap colors don't pass this... I just assumed it would

[2016-10-19 20:46] fvsch commented on #168
Apparently they don’t.
I opened an issue there: https://github.com/twbs/bootstrap/issues/20952

[2016-10-19 21:13] thejameskyle commented on #168
Improved in a99d54756a4de76eadf147d2e63ef043bad7351e

[2016-10-19 21:13] #168 closed

[2016-10-20 00:25] marcysutton opened #197 "A few accessibility issues"
Since @thejameskyle asked on Twitter, I found a few website accessibility issues using the [axe-chrome extension](https://chrome.google.com/webstore/detail/axe/lhdoppojpmngadmnindnejefpokejbdd?hl=en-US):

## Issues
### Frames must have a title attribute
Not sure if you can control this, but the Github Star iframe needs a unique title. That will label it in the list of page landmarks

### HTML elem

[2016-10-20 01:14] mattmccray commented on #60
"done!" -- How so? I'm getting the same issue.

`error Couldn't find package "my-local-package" on the "npm" registry.`

[2016-10-20 02:49] #197 closed

[2016-10-20 02:50] thejameskyle commented on #197
Thanks! I've fixed the problems that I can and a PR adding lang=en issue to the github-button project https://github.com/mdo/github-buttons/pull/107

[2016-10-20 02:56] marcysutton commented on #197
The Github thing needs a title like "View on Github", the HTML element needs the lang.

[2016-10-20 16:40] thejameskyle opened #201 "Add ability to deep link tabs on install/ci instructions"
Make this work: https://yarnpkg.com/en/docs/install#linux

[2016-10-20 17:14] Daniel15 commented on #194
It looks like their API doesn't have CORS headers, so we'd need to proxy it.

[2016-10-21 09:56] AntSworD commented on #114
@Daniel15 this document page has changed

[2016-10-21 09:56] #114 closed

[2016-10-21 11:12] GreenGeorge commented on #201
Would the script to do this be better as a page-specific asset or as a site-wide asset embedded on the layout?

[2016-10-21 16:36] #201 closed

[2016-10-22 00:51] tunnckoCore commented on #194
@thejameskyle why need to couple the things? Is it not enough to use them separately? Everyone has its own purpose and way. I don't get such need.

[2016-10-23 11:21] Haroenv commented on #148
You might take in account that for Travis for example by doing it like [this](https://github.com/micromata/http-fake-backend/blob/master/.travis.yml), you're adding the install of `yarn` to the time your CI runs, so it might not be faster anymore because of that overhead.

[2016-10-24 14:38] kittens commented on #192
The equivalent command is:

[code]

[2016-10-24 15:41] #192 closed

[2016-10-24 16:44] #179 closed

[2016-10-25 11:55] felixsanz opened #214 "[Docs] Manual install via tarball is incorrect"
I've created a PR in #213 fixing the tar command but it's still wrong because if you do so, you get `/opt/dist/bin/yarn` which is probably incorrect since there is no scope.

This can be fixed with `mkdir -p /opt/yarn` and passing `-C /opt/yarn` to `tar` command, but i'm creating this issue because that's not how i think you want it.

The docs say:

So looks like you want the version number in the

[2016-10-25 12:33] MajorBreakfast opened #215 "Clarify whether yarn uses yarn.lock when a package is installed as a dependency"
https://yarnpkg.com/en/docs/yarn-lock should mention whether yarn considers the yarn.lock files of dependencies or just the yarn.lock of the current package/project. I can provide a PR, but as of now I don't know the answer myself :) (I have only a guess: No, because things would conflict)

[2016-10-25 16:53] thejameskyle commented on #215
Yarn does not make any use of `yarn.lock` files in nested dependencies as that would mean we cannot de-duplicate anything in the tree, it'd be slower, and it would cause a ton of unnecessary extra work to keep nested dependencies up to date.

[2016-10-25 16:54] thejameskyle commented on #214
cc @Daniel15

[2016-10-25 17:00] MajorBreakfast commented on #215
Alright. I'll provide a PR in <30min

[2016-10-25 17:11] Daniel15 commented on #214
Yeah, we didn't fix the directory name in the tarball (#431), and now people are probably relying on the fact it has a `dist` directory so I'm not sure if we could change it 😕  The docs on the site were written for the ideal state of things.

I think your proposed solution is fine though (extracting to `/opt/yarn`), would you like to send a pull request to update it?

This is how pretty much every

[2016-10-25 17:13] thejameskyle commented on #214
@Daniel15 can change it in the next `0.x` release, better to do it now than later.

[2016-10-25 17:21] wyze commented on #150
This should be closed since `yarn home` command will not be added.

/cc @thejameskyle

[2016-10-25 17:23] wyze commented on #146
Looks like bower support is going to be dropped. If that is the case, this issue can be closed.

See: https://github.com/yarnpkg/yarn/pull/1441

[2016-10-25 17:26] kitsunde commented on #146
👍

[2016-10-25 17:26] #146 closed

[2016-10-25 17:48] felixsanz commented on #214
It is possible to also remove the `dist` directory? It's the first level directory and everything is inside, so there is no point in having it inside the tarball. This way we avoid `--strip-components=1` which is not a valid option on some versions on `tar` (like the one shipping by default in alpine linux)

[2016-10-25 17:50] Daniel15 commented on #214
In general, all archives should have a top-level directory. It's normally done to avoid making a mess of the file system (eg. downloading an archive to `/opt` and then extracting it should put everything in a directory rather than directly extracting to `/opt`).

I could be wrong, but I don't know of any software package that ships tarballs without everything contained within a top-level directory

[2016-10-25 17:54] #150 closed

[2016-10-25 17:54] thejameskyle commented on #150
Yes, thank you @wyze

[2016-10-25 17:55] felixsanz commented on #214
So let's call it `yarn` and not `dist`. I agree most applications have a top level directory but they name the folder as the package being installed. This way we can unpack it into `/opt` directly and it will create a `/opt/yarn` hierarchy. `/opt/dist` is weird. The same as with `/opt/yarn/dist/`.

[2016-10-25 17:56] thejameskyle opened #217 "Remove any docs on bower"
https://github.com/yarnpkg/yarn/pull/1441

[2016-10-26 05:13] MajorBreakfast commented on #215
Done

[2016-10-26 05:13] #215 closed

[2016-10-27 06:06] donaldpipowitch opened #219 "Add FAQ section"
It looks like the website has no FAQ section. It would be nice to add one, which can be searched by the main search input in the header, too.

There was a Medium article some days ago which collected [a lot of interesting questions](https://medium.com/@boennemann/questions-i-wish-yarn-had-answered-on-day-1-ec0db745807#.rbfgiudbp).

I'd especially like to know, what happens if modules from custom p

[2016-10-27 16:33] thejameskyle commented on #219
I would prefer to avoid having a FAQ if we can better answer the questions as part of the normal flow of the website. Having a FAQ is like giving up.

Let's try to do that for a while, if you think something can be better answered in the normal documentation open an issue

[2016-10-27 16:33] #219 closed

[2016-10-27 23:53] wifelette commented on #7
[Added Tilde](https://github.com/yarnpkg/website/pull/220)! Looks even better with three 😉

[2016-10-28 00:00] wyze commented on #48
Invalid given https://github.com/yarnpkg/yarn/pull/1441 and #217.

[2016-10-28 05:11] donaldpipowitch commented on #219
IMHO the "best" way would be to answer these questions in the first place and _then_ figure out how to display them to the user in the best way. Content first.

Why? Honest question. FAQ is straight forward. Sire, Google Search and Co. all develop features to ask questions naturally and get answers back. Asking a question seems very natural to me, if you look for a _specific_ answer. The "normal d

[2016-10-28 18:07] thejameskyle commented on #219
That is the whole point of having search on the website

<img width="632" alt="screen shot 2016-10-28 at 11 06 17 am" src="https://cloud.githubusercontent.com/assets/952783/19817019/9a771410-9cfe-11e6-9691-3a6d3c91b511.png">

[2016-10-28 19:45] thejameskyle commented on #48
We can still have a guide on how to migrate from Bower to Yarn, just need to show how to move things over

[2016-10-28 20:25] donaldpipowitch commented on #219
So you have questions with answers in your docs, but they are not called FAQ, but included in different sections of the docs. I'm fine with that ;)

Then I'll create a separate issue for every question I have which could be of interest for everyone.

[2016-10-28 20:31] donaldpipowitch commented on #219
Sorry, if my title was misleading. I was not asking for an FAQ for the sake of having a "real" FAQ. It was a more general question to answer some things in the docs I couldn't find like "What happens if modules from custom private registries are installed by yarn. Are they somewhere cached by yarn online, so they could maybe exposed to others...?".

It doesn't matter to me "how" this is presented

[2016-10-30 14:49] JohnnyBushy commented on #60
Looks like "yarn link" doesn't work at all :(

[2016-10-30 22:44] thejameskyle commented on #60
@JohnnyBushy @mattmccray you're in the wrong repository, this one is for the website

[2016-10-30 22:52] mattmccray commented on #60
True, sorry. The appropriate issue seems to be: https://github.com/yarnpkg/yarn/issues/1297

[2016-11-01 01:29] thejameskyle opened #230 "Move search out of nav and into documentation index page"

[2016-11-02 02:56] kaddopur commented on #176
any update for applying CrowdIn?

[2016-11-02 14:16] dhruvdutt commented on #230
Can I do it?

[2016-11-02 14:34] pshkrjshnde opened #234 "Add yarn global upgrade documentation"

[2016-11-02 16:17] #234 closed

[2016-11-02 16:20] thejameskyle commented on #230
Sure go for it

[2016-11-02 20:45] dhruvdutt opened #238 "Error on make command"
I get the following error on executing `make` command after `gem install bundler`

OS: Ubuntu 16.04

[code]

[2016-11-02 21:34] thejameskyle commented on #238
Do you not have [SSH setup with GitHub](https://help.github.com/articles/generating-an-ssh-key/)?

[2016-11-03 06:23] Daniel15 commented on #238
@thejameskyle A lot of people use HTTPS with GitHub, as it's what they show by default and [recommend in their documentation](https://help.github.com/articles/which-remote-url-should-i-use/). We should change the Bootstrap URL to either `git://github.com/twbs/bootstrap.git` or `https://github.com/twbs/bootstrap.git`, as both of these URLs allow anonymous access (whereas the `git@` one always requi

[2016-11-03 09:04] dhruvdutt commented on #238
It's working now! I've configured SSH. Thanks!

[2016-11-03 12:44] dhruvdutt commented on #230
@thejameskyle Please see if you could help with the PR.

[2016-11-03 20:55] #230 closed

[2016-11-03 20:55] #238 closed

[2016-11-04 07:15] thejameskyle opened #246 "Improve syntax highlighting for shell code"
Need to increase the contrast so it's more readable.

<img width="775" alt="screen shot 2016-11-04 at 12 13 25 am" src="https://cloud.githubusercontent.com/assets/952783/19997411/982daa96-a223-11e6-9f5a-9a038b28cd35.png">

[2016-11-04 16:12] dhruvdutt commented on #246
I'm on it!

[2016-11-08 07:39] dhruvdutt commented on #246
@thejameskyle Please review.

[2016-11-08 12:22] dhruvdutt commented on #194
@Daniel15 Is anybody working on this?

[2016-11-08 12:58] olingern commented on #181
My comment in [https://github.com/yarnpkg/yarn/issues/1123](https://github.com/yarnpkg/yarn/issues/1123) may help.

[2016-11-08 13:18] tunnckoCore commented on #102
What should be done to start the translations? I mean, can we start translating and push changes? Or we should wait CrowdIn? I'm interested in Bulgarian translation.

[2016-11-08 14:27] glenjamin opened #252 "Prominently display latest version number somewhere"
As mentioned in https://github.com/yarnpkg/yarn/issues/1730

It's currently non-trivial to figure out what the latest version of yarn is from the website, it'd be good to throw this number in the header somewhere.

It would also be good to provide some guidance during or near the installation instructions about how to upgrade `yarn` to the latest version - does `self-update` work regardless of the

[2016-11-08 19:36] Daniel15 commented on #252
I've been meaning to add this while working on the nightly builds (show both the nightly version number and the stable version number).

Not yet, https://github.com/yarnpkg/yarn/issues/1139 covers that.

[2016-11-08 19:38] forresst commented on #102
Me too for french

[2016-11-08 19:39] thejameskyle commented on #252
@Daniel15 oh sorry, I added it to the navbar already

[2016-11-08 19:40] Daniel15 commented on #252
No worries @thejameskyle!  😄

I think we should mention it on the download page too.

[2016-11-08 20:58] thejameskyle commented on #194
I was hoping to work on it at some point, I'm in a slack channel with the npms.io folks

[2016-11-09 05:18] Daniel15 opened #253 "Mega Secure cat is in the wrong place"
Silly cat, that's not where you go!

![](http://ss.dan.cx/2016/11/chrome_08-21.17.35.png)

cc @thejameskyle

[2016-11-09 06:18] #253 closed

[2016-11-09 06:18] thejameskyle commented on #253
whoops, thanks

[2016-11-09 10:46] dhruvdutt commented on #194
Have a look at this library. [https://github.com/wires/npm-keywordsearch](url)
Please update here what the npms.io guys say. I would like to help on this.

[2016-11-09 12:39] sorcamarian opened #254 "Navigation Hamburger expanding problem"
Hi,

I noticed a problem on the [homepage](https://yarnpkg.com/) in small screens view, on click the menu is expanding and imediatelly collapsing.

Please check this video: https://youtu.be/cG3IfUZf8W4

[2016-11-09 16:41] thejameskyle commented on #254
This likely has to do with me pulling the bootstrap repo

[2016-11-09 20:01] thejameskyle commented on #194
We don't have a server-side component to the yarn website at this point in time so we cannot use node libraries

[2016-11-09 20:04] Daniel15 commented on #194
We shouldn't need a server-side component as long as npms.io can add CORS support to their API :D

[2016-11-10 20:27] vvm-broadsoft commented on #128
@avindra, `ca` still was not working. Added support for it in PR #1742

[2016-11-11 01:14] Pauan opened #255 "Clarify how libraries should use yarn.lock"
In yarnpkg/yarn#1067 there was a discussion about whether libraries should check in `yarn.lock` or not.

In other ecosystems like Ruby or Rust, the advice is that applications should check in the lock file, but libraries should not.

Yarn seems to take a different approach, always advocating for checking in `yarn.lock`. This leads to confusion for library authors.

I tried to create [a summary](ht

[2016-11-12 23:43] pornel opened #258 "Nightly installation animation collapses after expanding"
![2016-11-12 23_41_29](https://cloud.githubusercontent.com/assets/72159/20242737/a4f3c494-a931-11e6-8a9d-10b4a3dad4a8.gif)

^ that's not gif restarting, the section does collapse immediately like that.

I'm using Chrome 55.0.2841.0 canary (64-bit) OS X 10.11.

[2016-11-13 00:20] thejameskyle opened #259 "Merge in nightly builds page"
https://nightly.yarnpkg.com/

@Daniel15 Any reason this can't be a page on the normal website? The styles and layout have already gone out of sync.

If there's something dynamic you could just turn it into a JSON api that we can fetch from.

[2016-11-13 00:20] thejameskyle commented on #258
Fixed, sorry about that

[2016-11-13 00:20] #258 closed

[2016-11-13 00:20] thejameskyle commented on #254
Fixed, sorry about that

[2016-11-13 00:20] #254 closed

[2016-11-13 00:22] Daniel15 commented on #259
It was mostly a placeholder while I was building out the infra 😄

Yeah, the list of files is dynamic.

I can make it a JSON thing instead though. That seems like a reasonable idea.

[2016-11-13 00:24] thejameskyle commented on #259
Yeah I just noticed this and thought we should do that

<img width="1082" alt="screen shot 2016-11-12 at 4 23 48 pm" src="https://cloud.githubusercontent.com/assets/952783/20242913/6d30f1ea-a8f4-11e6-8728-3cb6ebbacc7a.png">

[2016-11-13 00:29] Daniel15 commented on #259
The other option is dynamically pulling in the header and footer from the Yarn site and caching it. I like that the page is so fast to load since it doesn't use JavaScript to load the list of files 😛

[2016-11-13 00:31] thejameskyle commented on #259
lol, you in that big of a rush?

[2016-11-13 00:31] thejameskyle commented on #259
btw, where does this code live?

[2016-11-13 00:39] Daniel15 commented on #259
Gotta go fast! ;P

It's in the releases repo at the moment. When I get a chance, I'll add some docs to the repo explaining how everything fits together.

[2016-11-14 05:09] grrowl opened #261 "Document `--mutex` option"
We're using yarn on our CI because it is awesome. But we're getting strange cryptic errors about files in `~/.yarn-cache/` throwing JSON.parse errors and it's rarely the same error twice.

The solution was to use `yarn --mutex file` (or `yarn --mutex network`), but it's [barely documented](https://github.com/yarnpkg/yarn/issues/1303) anywhere ([outside of the source code](https://github.com/yarnpk

[2016-11-14 05:10] grrowl commented on #261
I'm thinking of a brief paragraph under "Default command" on https://yarnpkg.com/en/docs/cli/

[2016-11-14 05:16] #259 closed

[2016-11-15 16:28] markstos opened #265 "yarn add --ignore-optional should be documented"
Here: https://yarnpkg.com/en/docs/cli/add

The `--ignore-optional` flag for `add` should be documented.

[2016-11-15 16:33] markstos opened #266 "Docs for `yarn add` should document the URL/git repo formats accepted"
This concerns the docs for adding dependencies:

https://yarnpkg.com/en/docs/cli/add#toc-adding-dependencies

The docs say:

But should be clarified to document all the different URL formats accepted. For example, there are 'github:' and `git+https://' and other URL formats are useful document as acceptable formats.

[2016-11-15 18:25] Daniel15 commented on #187
This also needs to handle rollbacks - If we intentionally downgrade the version number (eg. from 0.17.0 to 0.16.1 like we did recently), it should not automatically bump it forward again.

[2016-11-16 19:04] BanzaiMan opened #269 "Node.js runtime requirement is not listed"
Due to the dependency on `request`, yarn requires Node.js 4 or later, but this requirement is not explicit in the documents. https://yarnpkg.com/en/docs/install seems like a natural place to put this information, but other places might work as well.

[2016-11-16 21:18] Daniel15 commented on #269
You do get a message when you run Yarn ("Node version x.xx is not supported, please use Node.js 4.0 or higher"), but I agree that it should be listed on the site too 😄

[2016-11-16 22:02] BanzaiMan commented on #269
I don't see that message.

[code]

[2016-11-16 22:48] Daniel15 commented on #269
Ahhhh good catch @BanzaiMan! I think it's not even reaching the version check due to the usage of `const` in `constants.js`. I filed an issue here: https://github.com/yarnpkg/yarn/issues/1898

[2016-11-18 20:08] jambonrose opened #276 "Installation Instructions for Macports"
I've just created a Portfile for yarn to be installed in Macports: macports/macports-ports#48 .

Is there any interest in having me add installation instructions for installing yarn via Macports? I would open a PR.

[2016-11-18 20:25] thejameskyle commented on #276
Yeah sure, let us know when it is accepted

[2016-11-19 18:04] markstos opened #279 "There are should a section to document the global CLI flags"
There are several CLI flags which appear to apply to all subcommands.  They can be found in the source code [here](https://github.com/yarnpkg/yarn/blob/22d75d3a53ec91a1b7eb8444053c89f33efd0b03/src/cli/index.js#L41) These flags should have their own place in documentation.

Possibly the docs should be structured so the global flags are documented in an include file, so the docs can appear on all su

[2016-11-21 04:00] thejameskyle commented on #255
All projects (applications and libraries) should check in the `yarn.lock` file. I made that more specific on the site a few days ago: https://yarnpkg.com/en/docs/yarn-lock#toc-check-into-source-control

[2016-11-21 04:00] #255 closed

[2016-11-21 12:34] Pauan commented on #255
@thejameskyle Thanks, that helps a lot! :+1:

[2016-11-22 10:55] hpurmann opened #284 "Move/copy search to header"
I think it would be nice to have the search bar in the header of every page (a lot like [on the eslint page](http://eslint.org/) Currently, I always have to click on "Documentation" before searching the API.

For getting some space up there, we'd have to remove some links. I think "Discord" and "Facebook" could be removed. Maybe "Blog" as well since there is not much content anyway (or will there

[2016-11-24 19:09] Daniel15 commented on #284
it used to be in the header, but was moved (#239)

[2016-11-24 20:06] hpurmann commented on #284
Oh, why that? Isn't that the first thing a recurring visitor wants to see. Documentation of the API (and searching it) is the main goal of the website, isn't it?

[2016-11-27 11:55] thejameskyle commented on #284
Want to add package searching to the website as well which will probably be more prominently displayed on the website

[2016-11-27 19:42] Daniel15 commented on #284
@thejameskyle It would be nice to have both package searching **and**
documentation searching in the same place.

Sent from my phone.

On Nov 27, 2016 3:55 AM, "James Kyle" <notifications@github.com> wrote:

[2016-11-28 10:06] webia1 commented on #128
still not working,..

[2016-11-29 18:55] thejameskyle commented on #284
@Daniel15 How would that work? We wouldn't be in control of either

[2016-11-29 18:57] Daniel15 opened #294 "Install script needs better handling of invalid version numbers"
To repro:
[code]

It should throw a proper error message when the download URL results in a 404 error.

[2016-11-29 18:59] Daniel15 commented on #284
What do you mean by that? We should be able to query two separate APIs and combine the results together, or have a search box with a "what to search?" dropdown next to it, that would allow selection of the type of search to do.

[2016-11-29 19:05] Daniel15 opened #295 "Use custom subdomain for deploy previews in PRs"
The preview URLs currently look like this: https://deploy-preview-293--assembler-pig-23305.netlify.com/

Netlify support custom subdomains for preview URLs: https://twitter.com/calavera/status/803615314390810624

We should enable this so we can get yarnpkg.com preview URLs.

[2016-11-29 19:17] thejameskyle commented on #295
I have no idea how to do this. It is now `https://deploy-preview-293--yarnpkg.netlify.com/` though

[2016-11-29 19:18] Daniel15 commented on #295
@thejameskyle - I assume we'd create a CNAME like `*.preview.yarnpkg.com` or something like that, but Netlify support would be able to clarify 😄

[2016-11-29 22:46] thejameskyle commented on #284
Well we don't even control the contents of the search dropdown right now, it's rendered from algoria's js lib

[2016-11-29 22:50] Daniel15 commented on #284
Sure, but we could customise it, or just call their API directly 😃  I don't think they have any restrictions specifying that we **must** use their JS library.

[2016-11-30 07:58] donaldpipowitch opened #297 "More detailed "Migrating from npm" guide"
Hi,

I'd like to know for all commands on ["Migrating from npm"](https://yarnpkg.com/en/docs/migrating-from-npm) _if_ and _how_ they differ between npm and yarn. I can read about some of them in the docs. E.g. for `add` they tell `When you run either yarn or yarn add <package>, Yarn will generate a yarn.lock file within the root directory of your package.`

But how is yarns `publish` different to

[2016-11-30 18:20] #294 closed

[2016-11-30 21:08] markstos commented on #297
Comparing the docs for [yarn publish](https://yarnpkg.com/en/docs/cli/publish) to those for [npm publish](
https://docs.npmjs.com/cli/publish), they support the same subcommands and options.  A difference is that the NPM docs mentions taking into account .gitignore and .npmignore files. The `yarn publish` docs don't mention these files and the `yarn publish` source code doesn't mention them either

[2016-11-30 21:39] donaldpipowitch commented on #297
I probably wouldn't track them over time, but it would be nice to see _why_ I should use `yarn` instead of `npm` right now after `yarn` was released.

If I understand you correctly it is currently not possible to ignore certain files? If this is true it would be nice to understand _why_ the `yarn` team decided to do that? Or is this probably a bug? I honestly can't know that, because I can't find

[2016-11-30 21:58] markstos commented on #297
@donaldpipowitch the *why yarn* reasons are spelled on the front page of the https://yarnpkg.com/ I'm not a yarn core-contributor, but I *am* already using `yarn` in production primarily because the `yarn.lock` file *much* less headache prone for my team than shrinkwrap was. Secondarily, `yarn` commands run for faster for us. The increased priority of security and offline use are also interesting.

[2016-12-01 04:53] donaldpipowitch commented on #297
That would be one of the points which could be a motivation for an own `publish` and to hear something about that is exactly the reason why I created an issue like this.

I'm aware of other benefits of `yarn` mentioned on the front-page. We also use `yarn`, because it's faster and locks deps by default. As I mentioned in the first ticket that's also why I thought `yarn` would be for installing onl

[2016-12-01 08:56] thejameskyle commented on #297
There really isn't a real strong benefit for publishing though. There's nothing to advertise as being notably better

[2016-12-01 09:12] donaldpipowitch commented on #297
So we could add something like this to the "Migrating from npm" page?

I think it is also important to note when something _isn't different_, so there is no room for speculation :)

[2016-12-01 18:08] #261 closed

[2016-12-02 06:47] laughinghan opened #301 "Mention "JavaScript" or "Node" on the frontpage above the fold"
Cool project! But, have you noticed you don't mention JavaScript or Node anywhere on the frontpage, and "npm" only in the bottom left corner amongst a bunch of other text? If I'm understanding correctly, `yarn` is intended to replace only `npm` and `bower`, right, not `apt-get` or `pacman` or Homebrew?

[2016-12-02 14:58] markstos commented on #301
Good point. Reminds of all the websites that advertise that they are a "local business", but forget to tell you where they are local to.

[2016-12-02 20:46] thejameskyle commented on #301
See #133

[2016-12-02 20:46] #301 closed

[2016-12-02 22:29] laughinghan commented on #301
Haha right, or like "Area Man"

[2016-12-06 15:01] markstos commented on #181
It's also not clear what `yarn ls --depth 0` is showing. I would expect it to list the same dependencies seen in `package.json`, but it lists many more.  I suspect it's listing nested dependencies which got flattened to the top level, even though they are not top-level dependencies. This behavior should be documented.

[2016-12-06 17:38] markstos commented on #65
What's the intended remaining scope of work here? The `yarn team` command exists and is documented: https://yarnpkg.com/en/docs/cli/team

[2016-12-07 10:42] mgol opened #306 "No `yarn run` shortcuts documented"
Yarn, similarly to npm, has a few shortcuts for `yarn run`, e.g. `yarn start` cane be used instead of `yarn run start`. They should be documented.

One thing that surprised be was that `yarn build` works as an alias to `yarn run build` which is different to what npm does so I can't just rely on the npm docs for that.

[2016-12-08 00:49] jdalton opened #308 "Update released version text."
See
![](https://cloud.githubusercontent.com/assets/4303/20993109/0ee8df28-bc9d-11e6-836d-13809dadde5d.png)

npm is at 0.17.10 (with 0.18.0 tagged as "rc"), there's a [tweet for 0.18.0](https://github.com/yarnpkg/yarn/releases/tag/v0.18.0), and the WIP is 0.19.0-0.

[2016-12-08 00:52] jdalton commented on #308
Npm is at 0.17.10, there's a [blog post for 0.18.0](https://github.com/yarnpkg/yarn/releases/tag/v0.18.0), and the WIP is 0.19.0-0.

[2016-12-08 01:12] jdalton commented on #308
Ah, it looks like 0.18.0 is a pre-release. Why was it designated a pre-release?

[2016-12-08 01:12] #308 closed

[2016-12-08 04:26] #217 closed

[2016-12-12 23:50] BHSPitMonkey opened #310 "Language switcher does nothing when clicked"
When I click on the header menu item that says "English", I expect some kind of drop-down menu or language picker to appear. Nothing is currently happening for me, either in Firefox or Chrome.

[2016-12-13 01:33] Daniel15 commented on #310
I suspect something broke during a Bootstrap upgrade. In any case, there aren't actually any languages other than English at the moment, so the dropdown menu only had "English" in it.

[2016-12-14 06:14] Daniel15 opened #311 "Couldn't find documentation about single-file build or what "legacy" means"
_From @glasser on December 14, 2016 1:36_

**Do you want to request a *feature* or report a *bug*?**

Documentation issue

**What is the current behavior?**

Yarn publishes (in GitHub releases) a "modern" and "legacy" single-file JavaScript build.

This build doesn't seem to be documented anywhere other than in [a random section in a blog post](https://yarnpkg.com/blog/2016/11/24/offline-mirror).

[2016-12-14 06:14] Daniel15 commented on #311
_From @glasser on December 14, 2016 2:10_

Also perhaps worth documenting that if you use this version, you won't have `node-gyp` on your PATH, which will break some modules. See https://github.com/yarnpkg/yarn/issues/1986

[2016-12-14 06:14] Daniel15 commented on #311
Hey, that's a good idea! Since this is a documentation issue, I'm going to move it to the website repo.

[2016-12-16 16:46] roryokane commented on #132
“[Configuration](https://yarnpkg.com/en/docs/configuration)” and “[`yarn config`](https://yarnpkg.com/en/docs/cli/config)” are the existing pages that I would expect to mention the `.yarnrc`, but don’t. We also need a list of the allowed `yarn config set` keys and their meanings on at least one of those pages.

[2016-12-19 04:34] Daniel15 commented on #311
@bestander Do we need to keep building the "legacy" build? I agree that it's confusing, and it would be better if we could just omit it and only have the "modern" version.

[2016-12-19 14:40] bestander commented on #311
We still have a major client using node4 version in fbsource afaik.

[2016-12-20 06:28] Daniel15 commented on #311
@bestander - Does the "legacy" build work on newer Node.js versions? If so, perhaps we should just have the legacy one, to simplify things a bit?

[2016-12-20 10:29] bestander commented on #311
Yeah, of course "legacy" works for with newer nodes.
The advantage of non "legacy" build is that it is easier to debug without source maps - async/await is transpiled to generators quite cleanly.
I doubt if there are any performance wins for Yarn here, we can measure.

So yeah, I would say, let's build only "legacy" JS for releases.
Are you up to do the switch?
I wonder what @kittens thinks.

[2016-12-21 20:05] #310 closed

[2016-12-21 20:49] thejameskyle commented on #284
Eventually the legacy build should just be there for node releases which are in "maintenance", with the modern build being for "current" or "active lts" releases.

Starting April 2017 (just letting the LTS schedule catch up):

- Legacy build supports "maintenance" versions of Node
- Modern build supports "current" or "active lts" versions of Node.

https://github.com/nodejs/LTS

[2016-12-23 04:50] philfreo opened #323 "CircleCI instructions seem out of date"
It seems that https://yarnpkg.com/en/docs/install-ci#circle-tab was written before 2 rounds of Yarn improvements by Circle.

The thread linked to on the page above goes to https://discuss.circleci.com/t/preinstall-yarn/7353, which indicates yarn comes preinstalled now. See also https://github.com/circleci/circleci-docs/issues/487

[2016-12-23 04:52] Daniel15 commented on #323
CircleCI have their own documentation now:
https://circleci.com/docs/install-and-use-yarn/. We should remove the docs
on the Yarn site and point to their docs instead. Pull requests are
appreciated :)

Sent from my phone.

On Dec 23, 2016 3:50 PM, "Phil Freo" <notifications@github.com> wrote:

[2016-12-24 16:50] jspooner opened #326 "Brew install name conflict with Hadoop Yarn"
The macOS install directions found [here](https://yarnpkg.com/en/docs/install#mac-tab) fail if you have Apache Hadoop installed.

[2016-12-27 07:52] ribeiroevandro commented on #102
I'm also interested in translating into Brazilian Portuguese.

[2016-12-28 09:30] xc2 opened #328 "About copyrights of blog articles in this repository and yarnpkg.com/blog/"
I know that yarnpkg is distributed under BSD License, but I can not find  with which license are all the articles in this repository published to yarnpkg.com/blog/.

[2016-12-28 10:07] Daniel15 commented on #328
I'm not sure what the intended license of the website is... I'll check with the team and add an appropriate LICENSE file. Thanks for reporting this!

[2016-12-29 20:34] dverbru commented on #276
@thejameskyle: it was merged a couple of days ago.

[2016-12-31 05:40] #194 closed

[2016-12-31 05:41] Daniel15 opened #330 "Add Babel support to site build"
As mentioned in https://github.com/yarnpkg/website/pull/322 - add Babel to this site so we can use more ES6 features.
`make build` should build the JS files.
Need to ensure Netlify is using `make build` to run the build.

[2016-12-31 18:00] thejameskyle commented on #330
Do we really have so much that this is necessary?

[2017-01-06 11:48] vvo commented on #330
We do have a bigger amount of code since the merge of #322 (my code), see https://github.com/yarnpkg/website/blob/dbf683453d9128c449cb37db4143e9df2021965f/js/search.js for example.

My POV as a recent contributor. When we did #322 I discovered what the website dev experience was pretty good: automatically rebuilds assets, layouts, that's good!

Then I just wrote some JavaScript the way I write it

[2017-01-07 18:28] tobymurray opened #339 "Update "self-update" page"
Given this issue [here](https://github.com/yarnpkg/yarn/issues/1139) and in particular [this comment](https://github.com/yarnpkg/yarn/issues/1139#issuecomment-268229087) it'd be nice to have some kind of hint that `self-update` is gone until further notice. Not being aware of its removal, it was not trivial to track down what was going wrong (I assumed I had botched something up myself), and it's

[2017-01-10 15:48] ksmithut commented on #128
`save-exact` also not working

[2017-01-12 09:38] gsklee opened #346 "yarn why - info output explanations"
In [`yarn why`](https://yarnpkg.com/en/docs/cli/why) an example output is given, but lacks explanations into its several output info (`Disk size without dependencies`, `Disk size with unique dependencies`, `Disk size with transitive dependencies`, `Amount of shared dependencies`). A more detailed descriptions regarding these fields should be something desirable.

[2017-01-13 16:27] tobymurray commented on #339
Fixed by [PR#340](https://github.com/yarnpkg/website/pull/340)

[2017-01-13 16:27] #339 closed

[2017-01-18 02:41] felicianotech commented on #323
Opened/referenced PR ^.

[2017-01-18 05:55] #323 closed

[2017-01-20 16:22] farrago opened #354 "Advice to disable antivirus on Windows seems risky"
The content for the [Windows Installer page](https://yarnpkg.com/en/docs/install#windows-tab) says:

This seem like incredibly risky advice for files that will be downloaded from the internet and blindly executed.  Particularly as the issue could be on a deeply nested dependency that is hard to know about or verify in advance.

Is there a justification for this being safe that I am missing?

If no

[2017-01-20 16:44] sth opened #355 "Documentation for `list` command not on `list` url"
The documentation for `list` is still found on https://yarnpkg.com/en/docs/cli/ls, not https://yarnpkg.com/en/docs/cli/list . It should be renamed and a redirect from `ls` to `list` should de added.

Yarn itself already points to https://yarnpkg.com/en/docs/cli/list in its help message:
[code]
Currently this URL shows a 404.

[2017-01-20 20:02] grant commented on #355
Fixes part of the issue: https://github.com/yarnpkg/website/pull/356

[2017-01-20 20:33] grant commented on #65
@markstos Given the link, it looks like the intent of this issue is to add a better description of the related `access` command once [as mentioned here](https://yarnpkg.com/en/docs/cli/team#toc-details) it's finished.

[2017-01-23 15:31] markstos commented on #354
First, you are already putting significant trust into the packages you are about to install. They can execute scripts as part of the installation with the user running the installer (sometimes a root/admin user!).  This install scripts are still run even when Antivirus is turned on. There's still plenty of damage that can be done that would still pass can Antivirus scan.

Second, the [value of Ant

[2017-01-23 16:23] farrago commented on #354
Thanks for the comments @markstos.

Besides the passage you highlighted, I think the real key passage from the article is:

I think we can agree that antivirus is not a global panacea, but I believe it _is_ a part of a sensible security strategy and yarn should not recommend removing it.

[2017-01-24 13:49] Chris1308 commented on #276
Is it possible to update the portfile to the latest version? I just installed Macports for yarn and saw that the version is outdated.

[2017-01-24 13:56] jambonrose commented on #276
@Chris1308 : I should have some time to do this later this week.

@thejameskyle : I'm planning to update the documentation with Macports install info this weekend.

[2017-01-24 14:04] Chris1308 commented on #276
Another question: Is it possible that the portfile isn't correctly exporting the node_modules path for global installs?  I can't run packages that I installed.

See: https://github.com/yarnpkg/yarn/issues/1321

And thanks for the portfile!

[2017-01-27 15:44] jakubzitny commented on #132
This issue is mentioning the documentation only and from https://github.com/yarnpkg/yarn/issues/521 it looks like privately scoped packages and also private registries do work. I was not able to make it work / it is not clear whether a combination of multiple registries works. Does it?

[2017-01-28 13:17] montogeek commented on #102
@thejameskyle any update?

[2017-01-28 15:15] forresst commented on #102
See https://crowdin.com/project/yarn

[2017-01-29 00:45] Daniel15 commented on #176
It looks like @thejameskyle has set up Crowdin at https://i18n.yarnpkg.com/ so I think you can start translating there now!

[2017-01-31 17:23] garusis opened #363 "`yarn version` command isn't doing that it should do."
I'm trying to use `yarn version` to update my package's version how I found at documentation on https://yarnpkg.com/en/docs/cli/version, but only display the current yarn version.

[2017-01-31 21:36] Daniel15 commented on #363
This is a bug with Yarn: https://github.com/yarnpkg/yarn/issues/2491

[2017-01-31 21:36] #363 closed

[2017-01-31 21:37] Daniel15 commented on #176
I'm going to close this out since the Crowdin project is up now, and a translated site will be up in the near future. Thanks for your support!

[2017-01-31 21:37] #176 closed

[2017-02-01 01:49] degroote22 opened #365 "[bug] Unicode chars missing in PT-BR translation (only .md files)"
It appers that only ASCII is shown on the website.
Go to https://yarnpkg.com/docs/cli/bin and look at the first sentence:
`Mostra a localizao da pasta bin do yarn.`

it hsould be

`Mostra a localização da pasta bin do yarn.`

All .md files seems to have the issue, like at https://yarnpkg.com/org/code-of-conduct and .html files are ok (home page for instance)

[2017-02-01 01:52] Daniel15 commented on #365
This looks correct in Crowdin (https://i18n.yarnpkg.com/translate/yarn/192/en-ptbr) so I guess it's an issue with the syncing. @thejameskyle could you please have a look? Thanks!

[2017-02-01 01:53] degroote22 commented on #365
@Daniel15 Yup. I was the one that translated this page btw :)

[2017-02-01 06:44] Daniel15 opened #366 "Document how to hack on Yarn"
- Show steps on how to configure Yarn in a dev environment:
  1. Clone repo
  2. `npm install`
  3. `npm run build`
- Mention add bin directory to `path`
- Maybe some sort of FAQ

eg. see https://github.com/yarnpkg/yarn/issues/2601

[2017-02-01 09:50] Ionaru opened #367 "Website links return 404"
On https://yarnpkg.com the 'getting started' menu button links to https://yarnpkg.com/docs/getting-started, this link goes to a 404 page. The correct link should be https://yarnpkg.com/lang/en/docs/getting-started/

Seems the language choice is not preserved while linking through the website, which results in a wrong URL.

Using Opera 42.0.2393.517 on Ubuntu 16.10
Browser ID: Mozilla/5.0 (X11; Lin

[2017-02-01 12:23] DomClayton commented on #367
Also possibly related, when visiting https://yarnpkg.com/ I'm seeing a page with just this link:

I'm expecting this is meant to automatically redirect.

[2017-02-01 12:55] onemenzel commented on #367
I get this using Opera and Safari in their newest versions. Firefox and Chrome are working though.

[2017-02-01 13:46] amitmtrn commented on #367
clicking on getting started link to https://yarnpkg.com/docs/getting-started
and should link to https://yarnpkg.com/lang/en/docs/getting-started/

[2017-02-01 15:22] israphim commented on #367
workaround: click on the language selector and manually select english

[2017-02-01 17:43] Daniel15 commented on #367
Does anyone in this thread have their preferred language set to something other than English? My hunch is  that there's a bug that's occurring for anyone that uses a language that the site doesn't support.

[2017-02-01 17:44] Daniel15 commented on #367
cc @thejameskyle

[2017-02-01 21:01] onemenzel commented on #367
German here. Now that you mention it: my default language is set to English in Firefox. And on my language list in Chrome it's No. 1.

[2017-02-01 23:18] Daniel15 commented on #367
Thanks for the confirmation. I can repro in Firefox if I change my language preference to German:
![](http://ss.dan.cx/2017/02/firefox_01-15.17.40.png)

[2017-02-01 23:53] gotofritz commented on #367
Doesn't work for me on either firefox or chrome canary, but it works on safari.
I am in Germany with an English OS and browsers.

[2017-02-02 03:43] thejameskyle commented on #367
I figured out the issue, I'll publish a fix soon

[2017-02-02 04:53] thejameskyle commented on #367
Fixed

[2017-02-02 04:53] #367 closed

[2017-02-02 23:42] petermikitsh commented on #367
I still can't access the getting started page. I wanted to setup yarn on my CentOS CI server :(

[2017-02-03 01:35] zeke opened #370 "Site is down?"
![screen shot 2017-02-02 at 5 35 26 pm](https://cloud.githubusercontent.com/assets/2289/22576009/00ddca30-e96e-11e6-92f0-e44330067e9c.png)

[2017-02-03 01:36] Daniel15 commented on #370
@thejameskyle is on it, I believe.

[2017-02-03 03:23] thejameskyle commented on #370
Yeah, talking to @biilmann at Netlify about what is wrong

[2017-02-03 03:36] thejameskyle commented on #370
It's back up again, trying to figure out some remaining issues.

[2017-02-03 13:55] thomaschaaf opened #372 "Update npm vs yarn comparison"
Hello,

I'd like to try to update the https://yarnpkg.com/compare/ page. What repository was used so that I can do an up to date comparison?

Thomas

[2017-02-03 20:34] markstos commented on #370
I believe this issue can be closed now.

[2017-02-03 20:47] #370 closed

[2017-02-03 20:59] zeke commented on #370
👍

[2017-02-03 21:51] thejameskyle commented on #372
I actually have a server written to automatically run performance tests and update the repo each night. But I've never been able to get it fully setup.

I'm afraid I can't make the code public either because of legal restrictions at Fb.

[2017-02-04 12:26] thomaschaaf commented on #372
Could we use another big repository which is open source and then we could use travis / circleci to do daily runs with the latest stable and upcoming npm yarn version. Maybe someone has a suggestion which project would be a good fit.

[2017-02-04 21:56] thejameskyle commented on #372
Here's the code: https://github.com/yarnpkg/perf

[2017-02-04 23:22] thomaschaaf commented on #372
:( https://github.com/thomaschaaf/npm-vs-yarn I just built my own and chose ghost and react. Now I just have to send it somewhere and chart it. It get's run by travis every day and I want to display the average for each npm/yarn version.

[2017-02-05 11:25] thomaschaaf commented on #372
I have continued the development and am now sending the data to https://docs.google.com/spreadsheets/d/1ZE5B4qJw1kNGMzjgslcWTuPYrpatzQJXSYMGNOhZ2ys/edit?usp=sharing on the bottom you can switch "tables" - between "Dashboard", "Pivot" and "Data". As soon as I have a little data I will add some pretty graphs to the dashboard :)

[2017-02-06 15:56] jerry855202 commented on #176
any plan for traditional chinese? or is this currently simplified only
I see cht on crowdin, and could see myself putting some time into cht translation based on chs, and change some terms used in zh-tw.

[2017-02-06 17:08] markstos commented on #9
@thejameskyle Could you be more specific about the expected scope of this ticket? If you referring to a command called `npm page`, no such command exists. If you are suggesting that there should be page of documentation about "Compatibility with NPM", then one [one has already been created](https://yarnpkg.com/docs/migrating-from-npm).  I see that you've linked to another ticket about compatibilit

[2017-02-06 17:09] markstos commented on #16
Can this ticket be closed now that there's a comparison table live on the website?

https://yarnpkg.com/docs/migrating-from-npm#toc-cli-commands-comparison

[2017-02-06 18:49] Daniel15 commented on #176
Hey @jerry855202! Since Traditional Chinese is available on CrowdIn, please feel free to start translating. Once the translation is nearly complete, we can launch the translation on the site :)

[2017-02-06 18:54] #16 closed

[2017-02-09 02:32] markstos opened #376 "Document "prefix" config key"
In `src/cli/commands/global.js`, a  `prefix` config key referenced, but it is not documented at https://yarnpkg.com/en/docs/cli/config

The option works the same as `--prefix` and is preferred if `--prefix` is not set.

[2017-02-10 08:11] victornoel opened #378 "Document --freeze-lockfile"
It would be great to have a documentation of what `--freeze-lockfile` exactly do and how it differs from `--pure-lockfile` :)

Thanks!

(was yarnpkg/yarn#2478).

[2017-02-10 10:09] JulienBourgain opened #379 "404 pages"
Go on : https://yarnpkg.com/ (the browser is redirected to https://yarnpkg.com/lang/en/)

So after that, in the header, click on getting started or doc => it's work

But if you click on package or blog and after you click on getting started or doc => 404 page

Going to  package or blog remove the language information in the URL. I think it's the cause of the bug :)

[2017-02-11 02:39] lawliet89 commented on #378
`--frozen-lockfile` is inspired by [bundler's](http://bundler.io/v1.14/bundle_install.html) analogue.

`--pure-lockfile` will install as normal, and at the end of the process, it simply [does not](https://github.com/yarnpkg/yarn/blob/3dc9cf43448da51d3b8890de339a0ed27b12ca62/src/cli/commands/install.js#L583) update the lockfile at all.

`--frozen-lockfile` will [check](https://github.com/yarnpkg/ya

[2017-02-13 01:28] #330 closed

[2017-02-13 06:28] Daniel15 commented on #379
I can't replicate this issue, are you still seeing it?

[2017-02-13 07:04] Daniel15 commented on #365
It looks like this was fixed at some point.

[2017-02-13 07:04] #365 closed

[2017-02-14 07:56] hookszhang opened #381 "Why in .gitignore ignoring lang directory?"
I want contribute chinese document, what should i do?

[2017-02-14 07:58] Daniel15 commented on #381
Hello @hookszhang! Translations are handled on a service called "CrowdIn". If you'd like to help translate the site, please go to https://i18n.yarnpkg.com/.

Currently, Chinese Simplified is 92% translated, and Chinese Traditional is 10% translated. Once they get close to 100%, the translations will be available on the live site.

Thank you!

[2017-02-14 07:58] #381 closed

[2017-02-16 12:57] JulienBourgain commented on #379
I think it has been fixed
duplicated : #367
PR : #368

[2017-02-16 14:45] aij commented on #103
FWIW, looks like this is already fixed by PR #162

[2017-02-20 03:16] Daniel15 commented on #103
Yeah, looks like #162 solved this :)

[2017-02-20 03:16] #103 closed

[2017-02-20 05:37] Daniel15 commented on #379
Thanks for the confirmation, I'll close this issue :)

[2017-02-20 05:37] #379 closed

[2017-02-20 13:08] alfredbez opened #385 "click on 'Docs' return 404 when coming from 'Blog' or 'Packages'"
1. https://yarnpkg.com/en/
1. Click on 'Blog' or 'Packages' (top-left navigation)
1. Click on 'Getting Started' or 'Docs'

![image](https://cloud.githubusercontent.com/assets/1001186/23126016/07c88514-f775-11e6-8491-569f2d8398e5.png)

Looks like [{{url_base}}](https://github.com/yarnpkg/website/blob/08f6bf95e0ecba171290d7ad5818c0692a3a8043/_includes/navigation.html#L17) is empty. Take a look at [t

[2017-02-21 11:08] nicolas-t opened #387 "French translation for linux install breaks the commands"
Hello,

this page in french : https://yarnpkg.com/fr/docs/install#linux-tab

you have this command :
[code]
which is not working (no line break, and fancy quotes), meanwhile, the one in english :
[code]

is working well.

[2017-02-23 20:56] vvo commented on #387
Made an edit on crowdin (http://i18n.yarnpkg.com/) but having hard time understanding if I need to click on save/publish/request somewhere on the interface. :)

[2017-02-23 20:58] vvo commented on #385
Cannot reproduce right now, can you have a look again?

[2017-02-24 08:58] alfredbez commented on #385
![yarn-bug](https://cloud.githubusercontent.com/assets/1001186/23296977/cf32b520-fa77-11e6-8d52-0a572f14e918.gif)

[2017-02-24 17:56] vvo commented on #385
What's the language of your browser? Mine is english

Here's my screencast, we are missing something obvious I guess.

![kapture 2017-02-24 at 9 55 35](https://cloud.githubusercontent.com/assets/123822/23314593/74ca18ee-fa77-11e6-9b86-03e6df8799d4.gif)

[2017-02-26 20:00] addobandre opened #390 "Document upgrade-interactive command"
There's no documentation for it anywhere that I can see.

[2017-02-27 09:23] alfredbez commented on #385
Min is German.
It works, when I change the language to english.

[2017-02-27 12:28] vvo commented on #385
Ok then that's the issue I guess, when the browser language is not part of the available translations, this fails I guess.

[2017-02-28 01:49] swrobel opened #393 "Docs for add --tilde seem to be incorrect"
The [docs](https://github.com/yarnpkg/website/blob/master/lang/en/docs/cli/add.md#yarn-add-package---tilde-t-` say:

which would lead me to believe yarn would add `foo": "~1.2.3"` to `package.json`, however it adds `foo": "1.2.3"` (no `~`) instead. It seems that adding an `@version` will cause yarn to implicitly use the `--exact` flag ... unless I'm missing something here.

[2017-03-03 14:31] jddxf opened #398 "Docs for `yarn install` should mention `yarn.lock` is used when installing dependencies if it exists"
According to https://github.com/yarnpkg/website/blame/master/lang/en/docs/cli/install.md#L21-L24

`yarn install` would

I think this only happens when there's no `yarn.lock` generated yet.If there is already one, it must be involved to ensure version consistency cross machines.

[2017-03-04 23:54] Haroenv commented on #387
Looks like your update went through and this can be closed

[2017-03-07 12:11] esphen opened #405 "Package search as search provider in Firefox"
Hi,

I love the new package search on the yarn website. I love it so much, in fact, that I would love to have it as a search provider in the search bar. It would be amazing to just be able to type `n react`. in the search bar and have it open to the yarn package search page with the term filled in and the search bar focused.

Usually in Firefox, you are able to add search providers when you [acces

[2017-03-07 13:27] vvo commented on #405
Dunno if related but in google chrome I am able to get a GitHub and npm search:

![image](https://cloud.githubusercontent.com/assets/123822/23658109/87a595d8-0341-11e7-8d19-b2dfbc0653e1.png)
![image](https://cloud.githubusercontent.com/assets/123822/23658111/890da316-0341-11e7-9eda-10727bc36dd3.png)

But does not work for yarnpkg.com.

You question seems to be a different one, we would need more f

[2017-03-07 13:32] esphen commented on #405
A quick search turned this up. Looks like what's needed to make it work with yarnpkg.com:

https://developer.mozilla.org/en-US/Add-ons/Creating_OpenSearch_plugins_for_Firefox#Autodiscovery_of_search_plugins

[2017-03-07 17:42] #405 closed

[2017-03-09 13:35] edmorley opened #413 "Not possible to link to a specific OS tab on the install page"
**STR:**
1. Visit https://yarnpkg.com/en/docs/install
2. Use the in-page tab navigation to switch to an OS other than the OS you're currently running
3. Copy the URL
4. Open that URL in a new tab

**Expected:**
The newly opened install page honours the OS selection in the URL.
ie: Even on OS X / Windows, https://yarnpkg.com/en/docs/install#linux-tab will show the Linux tab.

**Actual:**
If https:/

[2017-03-09 13:42] edmorley commented on #413
The functionality is controlled by:
https://github.com/yarnpkg/website/blob/66acf52e8f096bef1d74dce6895874f64b3f44d4/js/src/install.js
https://github.com/yarnpkg/website/blob/66acf52e8f096bef1d74dce6895874f64b3f44d4/js/src/lib/deeplink.js

It looks like:
a. `handleOS()` should not be called if there is an anchor hash in the URL already.
b. The anchor hashes in `handleOS()` and the `div` `id`s in [

[2017-03-09 14:55] vvo commented on #413
Hi @edmorley, it seems you dig this a lot already, would you mind sending a pull request that would help solve this issue? There's an auto preview deploy for every PR so we will even be able to check together the new behaviour you implement.

[2017-03-10 22:25] #413 closed

[2017-03-16 13:28] reyrodrigez opened #416 "Status page"
would be nice to see if there's any issue with the registry or the dl service.

[2017-03-20 04:19] Daniel15 commented on #416
Interesting idea. Maybe we could use something like https://cachethq.io/, I've seen a few projects use that.

[2017-03-21 11:34] cargilltay opened #420 "Getting Started link on Documentation page broken."
The Getting Started link on https://yarnpkg.com/en/docs linked to:
https://yarnpkg.com/en/docs/getting-started

Should link to:
https://yarnpkg.com/lang/en/docs/getting-started/

[2017-03-21 11:43] Haroenv commented on #420
I don't think it should, everywhere it should link to /en directly

[2017-03-21 12:03] michielbdejong commented on #420
Well, https://yarnpkg.com/lang/en/docs/getting-started/ works and https://yarnpkg.com/en/docs/getting-started is a 404.

[2017-03-21 12:10] michielbdejong commented on #420
The same issue happens on the link from https://yarnpkg.com/en/docs/creating-a-project to https://yarnpkg.com/ [lang/] en/docs/managing-dependencies/.

Notice that in both cases, the linking page does not have `lang/` in the url, but the linked-to one does.

[2017-03-21 12:23] Haroenv commented on #420
The issue is just that no trailing slash doesn't work I think. That's happening because of the rewrites (see _redirects and https://www.netlify.com/docs/redirects/)

[2017-03-21 12:36] michielbdejong commented on #420
ok, but shouldn't both 404s still be fixed, you think?

[2017-03-21 12:46] Haroenv commented on #420
Definitely

[2017-03-21 13:57] Bshally commented on #420
[Home page](https://yarnpkg.com/en/) is 404'ing at the moment.
![screen shot 2017-03-21 at 9 57 22 am](https://cloud.githubusercontent.com/assets/3440317/24150685/d2727faa-0e1c-11e7-8379-3d2f610e43eb.png)

[2017-03-21 15:21] vmazare opened #422 "Broken link"
The URL https://yarnpkg.com/en/docs/offline-mirror seems to be not found.

[2017-03-21 16:46] Daniel15 commented on #422
@vmazare  Are you still having issues? The link works for me.

[2017-03-21 16:59] Daniel15 commented on #420
This is strange, because the non-English languages are working fine:

https://yarnpkg.com/pt-BR/
https://yarnpkg.com/pt-BR/docs/getting-started/

[2017-03-21 21:30] sejoker commented on #422
@Daniel15 @vmazare this one still returns 404 https://yarnpkg.com/en/docs/cli/

[2017-03-21 21:31] Daniel15 commented on #422
@sejoker  That link works for me:
![](http://ss.dan.cx/2017/03/chrome_21-14.31.02.png)

[2017-03-21 21:39] sejoker commented on #422
that's weird, it works for me as well, although it reproduced both in Safari, Chrome, FF.

I have a screenshot from console:
![screen shot 2017-03-21 at 9 38 18 pm](https://cloud.githubusercontent.com/assets/125466/24172111/ec583f2e-0e7e-11e7-9f90-f57f0034ca7c.png)

[2017-03-21 21:43] sejoker commented on #422
probably it's VPN related, never mind.

[2017-03-21 22:24] spencer-brown commented on #422
Looks like this is a trailing slash issue:
- https://yarnpkg.com/en/docs/cli works.
- https://yarnpkg.com/en/docs/cli/ does not work.

Unfortunately, https://yarnpkg.com/en/docs/ links to the broken URL.

[2017-03-22 00:26] vmazare commented on #422
@Daniel15 It seems to work now, not sure what was the reason

[2017-03-22 00:26] #422 closed

[2017-03-22 00:27] spencer-brown commented on #422
@vmazare this is not fixed - please see my comment at the bottom describing the failure case due to trailing slash issues.

[2017-03-22 00:28] spencer-brown commented on #420
The main link to the CLI docs is also broken per my comment here: https://github.com/yarnpkg/website/issues/422#issuecomment-288238540

[2017-03-22 00:28] Daniel15 commented on #422
@spencer-brown - Interesting.. All of those URLs work for me.

[2017-03-22 00:31] vmazare commented on #422
@spencer-brown The URLs you mentioned work for me too

[2017-03-22 00:54] spencer-brown commented on #422
@Daniel15 weird... the broken links 404 for me in Chrome, Chrome incognito, and Safari.

[2017-03-22 02:29] netroby opened #423 "404 https://yarnpkg.com/zh-Hans/docs/creating-a-project"
https://yarnpkg.com/zh-Hans/docs/creating-a-project

access this url got 404

[2017-03-22 02:30] #423 closed

[2017-03-22 03:08] johnnyasantoss opened #424 "404 at index in PT-BR"
Hello!
Apparently some links are broken :/
I accessed [https://yarnpkg.com/pt-BR/][yarn] and got this
[![404 Error](http://image.prntscr.com/image/6ed17d0202b048c9b8a251b764f8a12f.png)][yarn]

[yarn]: https://yarnpkg.com/pt-BR/

[2017-03-22 04:24] daltones commented on #424
Same here.

Apparently it's an issue with all languages except `en`.

[2017-03-22 17:08] johnnyasantoss commented on #424
It is working now :|
Okay, thanks!

[2017-03-22 17:08] #424 closed

[2017-03-23 10:19] Haroenv commented on #420
I think the 404ing is completely fixed now, but the content doesn't seem to be up to date with the last few PRs. Is the deploy fixed on Netlify or something?

[2017-03-25 20:50] Haroenv opened #426 "pull out configuration variables into their own file"
Algolia:

* search only api key
* appid
* index name

[2017-03-25 20:51] Haroenv opened #427 "provide a default for the strings to translate in JS"
Since operations are done on the strings, which are `undefined`, this throws errors for untranslated strings

[2017-03-26 22:38] #426 closed

[2017-03-26 22:40] #427 closed

[2017-03-27 07:36] Haroenv opened #436 "/packages is rewritten as /package"
Kinda weird, I think it's a Netlify issue, I contacted support for it.

tried to fix it in #431, but that didn't work.

see https://github.com/yarnpkg/website/blob/master/_redirects#L4

[code]

This shouldn't match `/packages`, but somehow it still does

[2017-03-27 07:37] Daniel15 commented on #436
Maybe check the generated `_redirects` file (run a website build locally then look in the `_site` directory) and see if there's some other rule that conflicts?

[2017-03-27 07:42] Haroenv commented on #436
generated `_packages` looks like this:

<details>
<summary>_redirects</summary>

[code]

</details>

I don't obviously see any issue, but it's a long file so something might creep in depending on the order of operations?

[2017-03-27 19:09] #420 closed

[2017-03-28 08:58] Haroenv opened #439 "Changing language while on /package/xxx links to /package/"
This is because the language dropdown is rendered by Jekyll, which doesn't have knowledge about the frontend route.

This can be fixed by doing a `.forEach` over the language dropdown (like in production.js) and replace the link by /package/xxx.

[2017-03-28 17:01] #436 closed

[2017-03-29 13:14] Haroenv commented on #148
This can be closed now https://yarnpkg.com/en/docs/install-ci

[2017-03-30 21:35] suitupalex commented on #148
👍

[2017-03-30 21:35] #148 closed

[2017-03-31 14:15] Haroenv commented on #102
http://i18n.yarnpkg.com 😄

[2017-03-31 14:15] #102 closed

[2017-03-31 14:15] #387 closed

[2017-03-31 14:19] Haroenv commented on #326
[code]

I think this has been fixed since.

[2017-03-31 16:47] #439 closed

[2017-04-01 12:56] Haroenv commented on #326
Feel free to reopen if you still have this issue

[2017-04-01 12:56] #326 closed

[2017-04-03 01:55] Daniel15 commented on #148
Oh cool, I didn't even realise there was an issue for this :)

[2017-04-03 13:28] Haroenv commented on #252
Where should this be shown?

1. Before the copy

<img width="1173" alt="screen shot 2017-04-03 at 15 26 12" src="https://cloud.githubusercontent.com/assets/6270048/24611308/f79cfc28-1881-11e7-9fdf-ec4f717a974b.png">

2. In the header

<img width="1175" alt="screen shot 2017-04-03 at 15 27 42" src="https://cloud.githubusercontent.com/assets/6270048/24611353/1e028e0a-1882-11e7-9a80-52405bf3f72f.png"

[2017-04-03 13:48] vvo commented on #252
2. Seems better indeed

[2017-04-06 11:21] charlieirish opened #446 "-"

[2017-04-06 15:01] #446 closed

[2017-04-07 00:22] #252 closed

[2017-04-19 15:31] reyrodrigez commented on #416
@Daniel15 we used https://www.statuspage.io/ in the past

[2017-04-20 19:39] hotsoft-desenv2 opened #456 "Page cli/list not found"
Hi,

after run: 'yarn list -h' the page suggested is: "  Visit https://yarnpkg.com/en/docs/cli/list for documentation about this command." but the page is not found.

is the expected?

Thanks.

[2017-04-20 20:46] ndresx commented on #456
The target page for this is https://yarnpkg.com/en/docs/cli/ls, which apparently hasn't been renamed yet. There are a couple of PRs that should address this issue though, like https://github.com/yarnpkg/website/pull/377.

[2017-04-21 03:05] rmm5t opened #458 "Update Codeship installation instructions"
Re: https://yarnpkg.com/lang/en/docs/install-ci/#codeship-tab

Installing yarn via npm is now deprecated and yields an out-of-date version.

This is likely the better approach:

[code]

[2017-04-21 15:40] phyrog opened #460 "Arch Linux package is gone from AUR"
The `yarn` package is not in the AUR anymore (see https://aur.archlinux.org/packages/?O=0&K=yarn), so if this is not just a temporary issue, the website should be updated accordingly.

[2017-04-21 15:47] phyrog commented on #460
Oops, just realized that the package was moved to the official repo and the docs already changed in #454.

[2017-04-21 15:47] #460 closed

[2017-04-22 04:49] #458 closed

[2017-04-24 01:53] Daniel15 commented on #416
@reyrodrigez - statuspage.io looks pretty expensive. Cachet is open-source 😃

[2017-04-28 17:55] Daniel15 opened #471 "Automatically bump version in config when new GitHub release is out"
Update build scripts to bump the version number once the release is complete (has both Windows and Linux artifacts)
Bump the right version number (RC or stable) depending on the status used for the GitHub release
If stable > RC, set `show_rc` to `false`

[2017-04-29 22:42] reyrodrigez commented on #416
you're right, I should click first... Let me know if I can help you guys implementing this.

[2017-04-29 23:14] Haroenv commented on #416
Always happy to have contributions

[2017-04-30 00:44] Daniel15 commented on #471
Should be mostly done, but I'll have to keep an eye on the next release to ensure it works properly.

[2017-04-30 00:44] #471 closed

[2017-05-02 06:24] levlaz opened #474 "Installation Guide Not Working"
On Safari and Firefox (on macOS)

On this page: https://yarnpkg.com/en/docs/install#linux

Clicking on any of the platform links does not pull up the associated documentation. It simply continues to say: " Select your platform above "

<img width="789" alt="screen shot 2017-05-01 at 11 22 28 pm" src="https://cloud.githubusercontent.com/assets/7981032/25606255/4d7ad486-2ec5-11e7-9fb8-4b3216b2d5fd.p

[2017-05-02 06:25] Daniel15 commented on #474
Hmm, works for me in both Chrome and Firefox on Windows 10 (sorry, I don't have a Mac available to test on Mac OS).

[2017-05-02 06:34] Haroenv commented on #474
I think I can replicate it. Weird though, definitely worked earlier

[2017-05-02 06:45] levlaz commented on #474
Not sure if its relevant but the browser console log shows this:

[code]

[2017-05-02 06:46] Haroenv commented on #474
Yes, that could be part. All the other js works for you?

[2017-05-02 06:50] levlaz commented on #474
@Haroenv Yeah looks like its just that one thats not loading:

<img width="302" alt="screen shot 2017-05-01 at 11 49 41 pm" src="https://cloud.githubusercontent.com/assets/7981032/25606924/e593f8ee-2ec8-11e7-8c9b-da8b7d0b0e55.png">

[2017-05-02 06:50] levlaz commented on #474
Full URL: https://yarnpkg.com/js/build/vendor.4d200760f3726e42677f.js

[2017-05-02 07:33] Haroenv commented on #474
Seemed to have some weird caching things. I ran a new build on Netlify and I can't find any missing hashes anymore. Feel free to reopen if it isn't fixed yet.

[2017-05-02 07:33] #474 closed

[2017-05-02 07:34] levlaz commented on #474
Thanks so much, working perfectly now.

[2017-05-02 19:02] DanBuild opened #477 "yarn-version #1 failed"
Build 'yarn-version' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:

[View full output](https://build.dan.cx/job/yarn-version/1/)

cc @Daniel15

[2017-05-02 19:06] DanBuild commented on #477
Build was fixed!

[2017-05-02 19:06] #477 closed

[2017-05-07 12:55] jcubic opened #483 "Render text based changelog"
I have changelog that's simple text file not markdown, the file name is [CHANGELOG](https://github.com/jcubic/jquery.terminal/blob/master/CHANGELOG) not CHANGELOG.md and it seems that [yarn website always render changelog as markdown](https://github.com/yarnpkg/website/blob/d4998493773c6831bee2ea769668814d159e5c23/js/src/lib/Details/index.js#L150) so mine it's broken [jquery.terminal](https://yarn

[2017-05-07 13:56] Haroenv commented on #483
That's a good point, but the version without .md is a lot more popular in my finding with markdown after all. If you've done some more research or a solution, I'd like to hear it

[2017-05-07 14:19] jcubic commented on #483
Does the file can be CHANGELOG.md? because I'm in the process of rewriting changelog to markdown. I didn't notice anywhere info about filename in the source code (the variable is not set anywhere in this repo https://github.com/yarnpkg/website/search?utf8=%E2%9C%93&q=changelogFilename&type=

[2017-05-07 14:50] Haroenv commented on #483
https://github.com/algolia/npm-search/blob/master/github.js

[2017-05-07 15:29] jcubic commented on #483
Thanks, will close then.

[2017-05-07 15:29] #483 closed

[2017-05-15 05:22] GGAlanSmithee opened #495 "webpackJsonp undefined"
There seems to be something wrong with your code-splitting setup. Navigating to any page of https://yarnpkg.com/lang/en/ shows following errors in the console;

[code]

[2017-05-15 07:21] Haroenv commented on #495
Thanks for the report, will rerun the build, that works usually

[2017-05-15 07:26] GGAlanSmithee commented on #495
@Haroenv it's working now - thanks.

[2017-05-15 07:26] #495 closed

[2017-05-16 20:16] bobmoff commented on #390
this issue should perhaps be closed, as the PR: yarnpkg/website/pull/482 i created earlier has been merged

[2017-05-16 20:48] #390 closed

[2017-05-16 21:59] addobandre commented on #390
Now it's just missing the "global upgrade-interactive" that's been recently added.

[2017-05-17 02:29] gsklee opened #498 "add.md: is something missing?"
Between L38 & L40:

Is something missing here or is it just bad punctuation?

[2017-05-17 02:40] thejameskyle commented on #498
Looks like I fucked it up in this commit https://github.com/yarnpkg/website/commit/e4c9adeeed15e410a700c80c36d8923dd2131d7a

[2017-05-17 02:44] asvny opened #499 "Outdated docs for offline mirror"
I think it is outdated for https://yarnpkg.com/blog/2016/11/24/offline-mirror/

Commands like `yarn install –offline` seems to suggest `yarn`

[2017-05-17 02:50] gsklee commented on #498
Hmmm looks like a lot of content is missing in the current version? Not sure how much you'd like to add back.

[2017-05-17 05:33] thejameskyle commented on #498
If you just want to open a PR we can get it to a good state again

[2017-05-17 06:22] gsklee commented on #498
Took a closer look, it seems to be a pure copyediting issue that can be easily cleaned up.

[2017-05-17 07:10] #498 closed

[2017-05-17 07:14] gsklee opened #502 "team.md: yarn access command?"
The last paragraph of [`team.md`](https://github.com/yarnpkg/website/blob/master/lang/en/docs/cli/team.md) mentioned a "yarn access command"; I don't think it's being explained anywhere in the docs and is worthy of further explanations.

[2017-05-17 12:21] bestander commented on #499
--offline and offline mirror are different features.
Looks fine to me.
Feel free to send a PR with a fix if anything seems wrong

[2017-05-17 12:21] #499 closed

[2017-05-17 12:29] asvny commented on #499
@bestander
<img width="699" alt="screen shot 2017-05-17 at 5 56 51 pm" src="https://cloud.githubusercontent.com/assets/5235065/26153715/59c8e496-3b2a-11e7-9fc8-f28edd8b1276.png">

When I ran the command specified in the 3rd point , I got this error
<img width="697" alt="screen shot 2017-05-17 at 5 56 25 pm" src="https://cloud.githubusercontent.com/assets/5235065/26153738/79e1b94c-3b2a-11e7-8c27-2e

[2017-05-17 12:32] bestander commented on #499
I think it should be `--offline`.
Could you verify and send a PR with a fix pleasE?

[2017-05-18 08:54] gsklee opened #503 "`yarn import`"
There seems to be a new command [`yarn import`](https://github.com/yarnpkg/yarn/pull/2580/commits/016f3192248af68bb6aff9d0c272a6d9a8b83a24) that's absent on the website.

[2017-05-18 09:25] bestander commented on #503
Yeah, would be great to add a section here https://yarnpkg.com/en/docs/migrating-from-npm.
@gsklee, are you up to write a small note there?

[2017-05-19 06:20] gsklee commented on #503
I'd like to, but I haven't really used the command, so let's see if @xdissent wanna handle this first.

[2017-05-19 08:14] gsklee opened #506 "package.json "config" field"
[https://yarnpkg.com/en/docs/package-json#toc-config](https://yarnpkg.com/en/docs/package-json#toc-config)

Could it be elaborated some more here, like how do we reference these config values inside our scripts?

[2017-05-19 11:19] bestander commented on #506
Not sure where it is coming from.
Manifest type does not declare config in package.json.

[2017-05-19 11:27] bestander commented on #503
It is a community effort, so anyone's help is very much welcome.
Thanks, @gsklee, for raising issues about missing docs.

[2017-05-20 02:41] gsklee commented on #506
npm's explanation on the same `package.json` field: https://docs.npmjs.com/files/package.json#config

Seems like if you do `npm config set [something] [some-value]` it goes into `.npmrc`, but if you do `npm config set [package-name]:[something] [some-value]` it goes into this package.json "config" field?

[2017-05-20 03:10] gsklee opened #507 "Add online docs to new commands"
- [ ] ~~`yarn access`~~
- [x] `yarn create`
- [x] `yarn help`
- [x] `yarn import`
- [x] `yarn versions`

[2017-05-20 03:11] gsklee commented on #503
Gonna tracking this in #507 instead.

[2017-05-20 03:11] #503 closed

[2017-05-20 03:15] gsklee commented on #456
`yarn list` is the correct name of the command; `-h` as an option to this command is invalid.

[2017-05-20 05:34] gsklee commented on #502
Turned out the command hasn't been implemented at all (the file exists but it always outputs a "TODO" error upon being run)

[2017-05-20 05:34] #502 closed

[2017-05-20 12:06] #507 closed

[2017-05-20 13:25] bestander commented on #506
Maybe, I think Yarn has not implemented this feature yet.
Is it needed if .yarnrc is cascading?

[2017-05-22 07:11] Haroenv commented on #269
closed by https://github.com/yarnpkg/yarn/issues/1898

[2017-05-22 07:11] #269 closed

[2017-05-22 07:12] Haroenv commented on #456
closed by #377

[2017-05-22 07:12] #456 closed

[2017-05-22 07:14] Haroenv commented on #187
Is this handled by your @DanBuild now, @Daniel15 ?

[2017-05-22 07:14] Daniel15 commented on #187
Yes! :D

[2017-05-22 07:14] #187 closed

[2017-05-22 07:15] Haroenv commented on #355
closed of #377

[2017-05-22 07:15] #355 closed

[2017-05-22 23:09] strugee opened #509 "yarn.lock's differences from npm-shrinkwrap.json aren't clear"
https://yarnpkg.com/lang/en/docs/yarn-lock/ states that yarn.lock "not lossy and it creates reproducible results." It's not clear to me exactly what this means on a technical level.

[2017-05-25 18:41] sdtsui commented on #378
+1 on seeing this added to the website.

[2017-05-26 11:22] kripod commented on #372
Could you please make a comparison between yarn@0.24 and npm@5? I'm very curious about the improvements npm@5 has brought.

[2017-05-27 03:26] dantejauregui opened #514 "uninstalling yarn"
Hello guys!

if I install through this way:   "curl -o- -L https://yarnpkg.com/install.sh | bash"

how can i uninstall correctly??  please :D

[2017-05-27 04:56] Daniel15 commented on #514
All it does is extracts the tarball to `~/.yarn` so you can simply delete that directory. Maybe in the future we could have an uninstall script.

[2017-05-31 03:45] jaydenseric commented on #514
@Daniel15 Surely the install script modified profiles, etc.?

Ideally there would be both an uninstall script, and manual removal instructions on the website. Currently I'm attempting to understand the install script line-by-line.

[2017-05-31 15:57] hobakill opened #519 "Site down?"
[code]

&&

[code]

times out.

[2017-05-31 15:58] bkyarger commented on #519
I'm getting Error 522, Connection timed out from Cloudflare when trying to pull https://yarnpkg.com/latest.tar.gz

[2017-05-31 15:58] Haroenv commented on #519
Noticing it too, might be related to GitHub downtime earlier today

[2017-05-31 16:10] webloem commented on #519
My heroku builds using yarn are failing because of the site returning a 522.

[2017-05-31 16:16] mgol commented on #519
Yarn tarball URLs are returning 502, e.g.: https://yarnpkg.com/downloads/0.24.6/yarn-v0.24.6.tar.gz

This breaks our builds.

[2017-05-31 16:19] ldabiralai commented on #519
Could be related to this?

https://twitter.com/netlifystatus/status/869932943627624451
https://netlifystatus.com/

We're also having issues

[2017-05-31 16:21] Haroenv commented on #519
http://yarnpkg.netlify.com/en/ seems to be up intermittently, will update when resolved 😄

[2017-05-31 16:36] zygimantas commented on #519
It would be nice if we could download the latest release artifact directly from github, as latest.msi/zip

[2017-05-31 16:37] khadirbaaoua commented on #519
well github was down as well earlier ...

[2017-05-31 16:42] hobakill commented on #519
I'm getting responses now:

[code]

[2017-05-31 16:43] nickstanish commented on #519
For anyone using yarn on heroku, I added this issue to see if we can get some redundancy in installing the yarn binary: https://github.com/heroku/heroku-buildpack-nodejs/issues/418

cc @webloem

[2017-05-31 16:43] #519 closed

[2017-05-31 16:47] khadirbaaoua commented on #519
website seems to be up again

[2017-06-05 06:25] Daniel15 commented on #514
Oh yeah, it also adds `~/.yarn/bin` to the PATH. Feel free to submit a pull request adding an uninstallation script if you like.

[2017-06-15 19:58] jcoene opened #529 "Site offline with Cloudflare error 526 (Invalid SSL certificate)"
I'm receiving Error 526 (Invalid SSL certificate) on a Cloudflare error page when accessing yarnpkg.com. Perhaps a SSL certificate is expired or misconfigured? Happy to help if at all possible.

<img width="848" alt="screen shot 2017-06-15 at 2 58 08 pm" src="https://user-images.githubusercontent.com/283933/27199292-107660d0-51db-11e7-9ddd-3c1cfd07c91c.png">

[2017-06-15 20:09] victorwhy commented on #529
this is also preventing our builds :(

![image](https://user-images.githubusercontent.com/7387858/27199705-f94d52c4-51e4-11e7-8745-a9092bf42fc8.png)

[2017-06-15 20:11] benhutton commented on #529
and any heroku deploys for apps using yarn :(

[2017-06-15 20:14] kittens commented on #529
Intermittent issue with Cloudflare SSL, should be fixed now.

[2017-06-15 20:14] #529 closed

[2017-06-15 20:15] akayvanfar commented on #529
ty @kittens

[2017-06-15 21:20] bestander commented on #378
Send a PR please

[2017-06-16 18:23] BYK commented on #378
Hi @lawliet89! You seem to have a good understanding. Up for a PR? I'd love to help too.

[2017-06-18 05:29] bestander opened #531 "images in readme don't get displayed for package prettier"
See https://github.com/prettier/prettier/issues/2186

https://yarnpkg.com/en/package/prettier

![27258194-98a9efb8-5437-11e7-9a5a-844ef6dbf401](https://user-images.githubusercontent.com/2121048/27258301-4725910a-53ac-11e7-8d4d-32fd26b168e8.png)

cc @Haroenv

[2017-06-18 05:41] Haroenv commented on #531
Probably something with the link rewriting. Will take a look there

[2017-06-18 18:42] Haroenv commented on #531
So interestingly, the README is not in the registry, as seen [http://registry.npmjs.org/prettier](http://registry.npmjs.org/prettier), which means that the README is downloaded from GitHub instead.

That one (and not the last one on npm, but that’s an edge case, really) has a table that looks like this:

[code]

The html that is being generated by the markdown process here eventually looks like th

[2017-06-18 19:22] Haroenv commented on #531
Yeah, so I’ll have to parse the inline html too to be able to get proper links and images.

[2017-06-19 16:15] #531 closed

[2017-06-20 02:58] Daniel15 commented on #416
Added https://status.yarnpkg.com/

[2017-06-20 02:58] #416 closed

[2017-06-20 03:41] Daniel15 opened #534 "Show banner on site if there's currently known site/registry issues"
Pull data from https://status.yarnpkg.com/ onto Yarn home page if there are currently open incidents.

https://docs.cachethq.io/reference#get-incidents

Call `/api/v1/status`

Example response when something is broken:
[code]

Example response when everything is OK:
[code]

[2017-06-21 02:21] #534 closed

[2017-06-25 19:10] badersur opened #544 "Installation using `curl` gets version 0.24.6! Is it intended?"
When I execute the command:

[code]

I'm expecting to obtain the latest version (v0.26.1 as [releases page](https://github.com/yarnpkg/yarn/releases) says) but I get 0.24.6.

Is it a bug or an intended behaviour?!

OS: Ubuntu 17.04

[2017-06-25 21:45] 0joshuaolson1 opened #545 "Can't browse projects' files"
I've tried unrelated packages. I get this in Chrome:
'Could not load file listing: Failed to execute 'fetch' on 'Window': Illegal invocation'

[2017-06-26 00:46] Daniel15 commented on #544
@bestander @arcanis Was it intended that v0.26.1 be marked as stable? It's marked as stable on GitHub but not anywhere else (the release steps weren't run for it)

[2017-06-26 00:49] bestander commented on #544
Let's mark 0.27 stable on Monday

On Sun, Jun 25, 2017 at 5:46 PM Daniel Lo Nigro <notifications@github.com>
wrote:

[2017-06-26 04:16] Daniel15 commented on #545
@Haroenv Do you have any ideas here? It looks like all the `fetch` calls are throwing "Failed to execute 'fetch' on 'Window': Illegal invocation", including the calls that load data from GitHub.

[2017-06-26 04:22] Haroenv commented on #545
That sounds weird. I'll try to find something

[2017-06-26 18:24] badersur commented on #544
Now I notice that the docs says 0.24.6 is the stable version!

I think it's worth mentioning which version of yarn the script will install; the statement:

is not clear! Is it the latest stable version, the most stable verified version, or a specific stable version?

Also, after looking at the script, I've noticed that the option `--rc` is **not** documented. Should I document it or is it left int

[2017-06-26 18:37] Daniel15 commented on #544
The script installs the latest stable version, as shown on the site at https://yarnpkg.com/. It gets the version number from https://yarnpkg.com/latest-version, which is the source of truth for the latest version number.

It should be documented, it was likely just an oversight :) The `--nightly` tag is documented at https://yarnpkg.com/en/docs/nightly but we might not have any docs on how to inst

[2017-06-26 20:38] cargilltay opened #546 "Language selector missing on blog page"
https://yarnpkg.com/blog/

Console throwing error regarding missing ID. This is due to the language dropdown missing at the top of the page.

[2017-06-26 21:02] daprahamian commented on #544
Question: were `0.25.x`-`0.27.x` released, but just not stable? Or should they have been marked stable to begin with?

[2017-06-26 21:03] Daniel15 commented on #544
They're all unstable (RC) releases, as far as I know.

[2017-06-26 22:03] badersur commented on #544
I was thinking about changing the installation doc to be like:

[code]
    Or a specific version by running the following:
[code]
    See the releases for possible versions.

But maybe there're other places to add this info about `--rc` and it can be obtained using the `--version` tag so I'm thinking it's not so necessary to add it.

Even though `--rc` is too convenient :)

[2017-06-27 06:18] willin opened #548 "excerpt bug"
![wx20170627-141623](https://user-images.githubusercontent.com/1890238/27573203-4afdd748-5ad6-11e7-9dad-3ae4df505d2f.png)

[2017-06-27 06:24] Daniel15 opened #549 "Add short permalink to package info page"
https://yarnpkg.com/en/package/react should display `https://yarn.fyi/react` somewhere, so that people know that it works as a nice short permalink to the page.

@Haroenv do you have any design ideas for this? Perhaps we could put it above the home page link in the right column.

[2017-06-27 08:19] Haroenv commented on #549
That's a good idea, I mocked it up like this:

<img width="1204" alt="screen shot 2017-06-27 at 10 19 23" src="https://user-images.githubusercontent.com/6270048/27577763-2b2806d6-5b22-11e7-86c3-309445a87a3b.png">

What do you think ?

[2017-06-27 08:23] vvo commented on #549
+ copy button? :)

[2017-06-27 08:26] Haroenv commented on #548
That's a bug in the npm registry, there's no way for us to find if the description is original or excerpted from the README

see https://github.com/npm/normalize-package-data/blob/3dc7756af20b3b1b24c6d75302448ca3659e0a65/lib/fixer.js#L226

[2017-06-27 08:26] #548 closed

[2017-06-27 08:27] Haroenv commented on #548
This can be fixed by showing nothing if it's an excerpt, since the README is just below it anyway...

Anyway, for your own package you can fix it by adding a description in package.json

[2017-06-27 08:34] Haroenv commented on #549
possible @vvo, would that be relevant for all of the sidebar links then?

[2017-06-27 08:36] vvo commented on #549
Nope, the other sidebar links you want to go there (click and change page).

Only this one, you are already on the page, so you ONLY want to copy it I believe.

[2017-06-27 09:34] #546 closed

[2017-06-28 00:06] spencer-brown opened #553 "`latest` version downloaded by yarn install script does not match `latest` on GitHub"
My team is using the Yarn install script hosted at https://yarnpkg.com/install.sh to install Yarn in CI, but the `latest` version installed by that script does not match the `latest` version on [Yarn's GitHub](https://github.com/yarnpkg/yarn/releases/tag/v0.25.3).

Why is this? Also, is the version installed by that script guaranteed to be the same as the version shown on the Yarn homepage?

[2017-06-28 00:07] Daniel15 commented on #553
The version listed on the Yarn website (https://yarnpkg.com) is the source of truth for the latest version number. There's a few releases incorrectly marked as stable on GitHub.

@bestander @arcanis  - Can we bump 0.27.x to stable soon?

[2017-06-28 00:15] bestander commented on #553
Nope, still testing, I think there are 2 regressions we have found.

[2017-06-28 06:46] #549 closed

[2017-06-29 21:02] bestander commented on #545
Can confirm that issue is there

<img width="1164" alt="screen shot 2017-06-29 at 2 00 25 pm" src="https://user-images.githubusercontent.com/2121048/27710124-73a435b2-5cd3-11e7-9eed-602e7fa504a5.png">

[2017-06-29 21:02] Daniel15 commented on #553
0.27.3 was just published and will be up shortly.

[2017-06-29 21:02] #553 closed

[2017-06-29 21:03] Daniel15 commented on #544
0.27.3 was just published and will be up shortly, so I'm closing this  as the original issue was resolved.

@badersur  - Feel free to create a separate issue for the doc updates if you like. Or, submit a pull request and we can throw some ideas around :)

[2017-06-29 21:03] #544 closed

[2017-06-29 21:12] Haroenv commented on #545
That happens when you click before it's loaded fully, right?

[2017-06-29 21:45] bestander commented on #545
It happens every time I clock on Browse Files and does not go away

[2017-06-29 21:53] Haroenv commented on #545
Arg that's annoying. I'll try to replicate it somehow

[2017-06-30 04:22] Daniel15 commented on #544
We should document how to install a particular version via Debian package too:
[code]

[2017-06-30 05:47] Daniel15 opened #555 "scripts/sitemaps.js is slow"
This is one of the slowest parts of building the site:
[code]

@Haroenv - Could we somehow speed this up, or otherwise cache the sitemaps so they're only regenerated every so often? I wonder if we could store the sitemaps somewhere (perhaps some sort of blob storage like S3) and regenerate them via a cronjob rather than every time the site is deployed.

[2017-06-30 05:56] Haroenv commented on #555
Definitely not a bad idea, I don't have any s3 account or whatever, so feel free. All you need is the api key which is on netlify. You can crop it daily or weekly and it will be fine

[2017-06-30 05:57] Daniel15 commented on #545
I originally thought LastPass was causing this, as they appear to be shimming `window.fetch`. The only clue I got was a string "lpsubmit" in the injected code. However, even after disabling LastPass (or using an Incognito window), the error still occurs.

If I do exactly the same `fetch` call in the browser console, it works. 🤔

[2017-06-30 06:30] Daniel15 commented on #555
Do you know how large the files are? I can probably just throw them onto my server under https://nightly.yarnpkg.com/ somewhere.

[2017-06-30 08:04] Haroenv commented on #555
I ran the script locally and it's:

[code]

So it's 255MB on disk

This can also be gzipped, either by the server (that's the case on netlify now IIRC), or by the script. I didn't do that now, because it would take a while, but I'm pretty sure it will get a very significant improvement by doing that, there must be lots of repetition.

[2017-06-30 10:03] badersur commented on #544
@Daniel15  I've just grabbed it. Thanks for letting me know about it and for answering my questions :)

But I have some concerns...

in your website:

In github releases:
v0.27.3 labelled as **latest release**

and I can't notice any differences between 0.27.2  & 0.27.3 from GitHub's compare changes:

https://github.com/yarnpkg/yarn/compare/v0.27.3...master
https://github.com/yarnpkg/yarn/compare/

[2017-06-30 11:26] badersur commented on #544
Is it necessary to add `-1` to version number while installing using `apt-get`? because I don't see versions with this format!

Is specifying version number using package managers is only supported on Debian-related distributions?

Personally, I don't think I can participate in updating the docs now...

[2017-06-30 18:01] Haroenv commented on #545
I really can’t replicate this in Safari. It works perfectly 🌐 What extensions do you have @bestander

EDIT: ah so ultra weird, it’s happening in Chrome

[2017-06-30 18:10] Haroenv commented on #545
https://github.com/QuentinRoy/lightmill-js/commit/9c2b5293f9570ac6b2533f69c8c8647da8cedc0c

[2017-06-30 18:12] Daniel15 commented on #545
Interesting, looks like it was patched in unfetch:
https://github.com/developit/unfetch/pull/47/files. Is there a new release
we could upgrade to?

--
Regards,
Daniel Lo Nigro
http://dan.cx/ | Twitter <http://twitter.com/Daniel15> | Facebook
<http://www.facebook.com/daaniel>

On Fri, Jun 30, 2017 at 11:10 AM, Haroen Viaene <notifications@github.com>
wrote:

[2017-06-30 18:13] Haroenv commented on #545
Yes, was just going to try that, either importing `unfetch` instead of `fetch`

[2017-06-30 18:27] Haroenv commented on #545
Fixed with #556

[2017-06-30 18:27] #545 closed

[2017-07-04 11:42] denisflorkin commented on #378
Hi
reading @lawliet89

does "normal" means that this effectively prevent "newer" version of current deps (locked in lockfile) to be installed ?
Or is there a possibility that some deps would be updated while the lockfile is not ?

[2017-07-07 17:41] daprahamian opened #563 "No Documentation for `yarn workspace`"
Running `yarn v0.27.5` with `workspaces-experimental true`

I wanted to try the experimental `yarn workspace` command, but there is no documentation.

`yarn help workspace` links to https://yarnpkg.com/en/docs/cli/workspace, which does not exist.

[2017-07-07 17:47] Daniel15 commented on #563
cc @arcanis, @bestander

[2017-07-07 18:08] bestander commented on #563
A blog post is coming in July.
I'll keep the task open until it's up

[2017-07-10 17:21] DanBuild opened #565 "yarn-version #21 failed"
Build 'yarn-version' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [Daniel15's Build Bot] 61f45e5eeb0a946a5b8b3b817a3cbd853d0cc7b9 - Automated upgrade to Yarn 0.28.1

[View full output](https://build.dan.cx/job/yarn-version/21/)

cc @Daniel15

[2017-07-10 17:21] #565 closed

[2017-07-11 20:24] BYK opened #569 "Add link to NPM CLI comparison page from the usage page"
Add a link to https://yarnpkg.com/en/docs/migrating-from-npm#toc-cli-commands-comparison from https://yarnpkg.com/en/docs/usage

This was brought up in Discord.

[2017-07-12 11:14] BYK commented on #544
@badersur I think that's just how Debian packages work (the additional `-1`).

[2017-07-12 12:40] badersur commented on #544
@BYK I see! Thanks for the info :)

[2017-07-13 21:47] bestander opened #573 "[docs] create a page for working with non npm dependencies"
https://yarnpkg.com/en/docs/dependencies

- git hosted
- alternative names `"dep-a": "npm:dep-b@1.0.0"`
- `link:` specifier
- `file:` specifier + `yarn-link-file-dependencies` config
- workspaces
- configuring proxy and registry via .yarnrc/npmrc

[2017-07-13 22:37] gforceg commented on #132
As of right now it appears that yarn piggy backs on the npm configuration (.npmrc).

So after setting up [my scoped package registry](https://www.visualstudio.com/en-us/docs/package/npm/scopes) in .npmrc, [and using environmental variables rather than yarn / npm config variables for proxy settings](https://github.com/npm/npm/issues/7168)

`yarn add @myscope/mypackage` and `yarn info @myscope/mypac

[2017-07-14 05:58] zkat commented on #372
tbh, this webpage is tremendously out of date. It would be really kind of y'all to rerun these benchmarks, because this is really misguiding right now. I would also recommend adding pnpm, since they're definitely active and doing a lot of decent work recently (and getting noticed for it).

### Warm cache, 2015 MBP, lockfiles

<img width="321" alt="screen shot 2017-07-13 at 22 40 52" src="https://u

[2017-07-14 11:52] tvainika commented on #378
Fixed in #574 ?

[2017-07-14 12:50] BYK commented on #378
@tvainika the difference between `--pure-lockfile` and `--frozen-lockfile` is still not explained so not yet resolved I'd say :)

[2017-07-20 09:28] ahmehri opened #579 "--non-interactive flag is not documented"
`--not-interactive` flag has been added in yarnpkg/yarn#2770. However no documentation for this flag is available.

[2017-07-26 09:36] jubayed opened #582 "problem scss"
i want to install this website.

problem:
 `Happy[1]: All set; signaling webpack to proceed.
  Conversion error: Jekyll::Converters::Scss encountered an error while converting 'css/main.scss':
                    File to import not found or unreadable: bootstrap/scss/bootstrap.scss. Load path: /srv/myforum/myforumbd.github.io/_sass on line 24
jekyll 3.2.1 | Error:  File to import not found or unre

[2017-07-26 10:07] Haroenv commented on #582
You need to have the git submodules:

[code]

[2017-07-26 10:07] #582 closed

[2017-08-01 13:51] BYK opened #588 "Update performance comparison benchmarks"
The performance comparison benchmarks we publish are a bit outdated and there aren't any automated ways to update them. Until we have one, we may wanna link people to https://github.com/pnpm/node-package-manager-benchmark

Another alternative would be to leverage GitHub's api to make that page look nicer and natively on our website.

[2017-08-01 13:52] Haroenv commented on #588
see also #372

[2017-08-01 13:56] BYK opened #589 "Better explain why installation through NPM is not suggested"
This issue was brought up here: https://twitter.com/maybekatz/status/890320508813586433

We should do a better job of explaining why the preferred way of installing yarn is not via NPM or don't mention this at all if we don't have a good reason.

Right now I think the package signature verification aspect is important but I'd like to hear more to come up with a solid explanation.

[2017-08-01 13:56] BYK commented on #589
Ping @bestander @arcanis @Daniel15

[2017-08-01 13:57] BYK commented on #588
Duplicate of #372.

[2017-08-01 13:57] #588 closed

[2017-08-01 17:25] Daniel15 commented on #589
What's wrong with the current text?

The only inaccuracy I see here is that newer versions of npm use SHA512 rather than SHA1. We can probably just change the text to say "basic hash" rather than specifying an exact hashing algorithm.

[2017-08-01 17:50] BYK commented on #589
May be we can add a sentence about why signing is important?

[2017-08-04 08:33] fybwid opened #590 "Angular Material Package Detail"
In the package detail, the url pointing to Angular Material repository is incomplete,
`[main AngularJS Material repository](https://github.com/angular/materi`
which is should be:
`[main AngularJS Material repository](https://github.com/angular/material)`

[2017-08-04 10:47] Haroenv commented on #590
Hey, thanks for opening this issue, unfortunately this is out of our control because the registry truncates the description at that length. You can change that for Angular Material themselves by saving some characters in the description field of their package.json so that the link would work.

see data here: https://registry.yarnpkg.com/angular-material

Have a nice day!

[2017-08-04 10:47] #590 closed

[2017-08-05 13:15] Haroenv opened #591 "Syntax highlighting in detail page"
Something should be used that

1. works with our markdown parser ([marked](https://yarn.fyi/marked)) (we picked it for GFM support and not being huge. If you find a more maintained one, please suggest)
2. outputs `.rougeHighlight` so that we can reuse that styling

[2017-08-05 13:44] Haroenv commented on #591
I tried highlight.js and couldn't figure out how to give it the correct classes, nor how to pass the language to it. see [feat/highlight](https://github.com/yarnpkg/website/tree/feat/highlight) for details about that. Help definitely welcome

[2017-08-07 02:08] vicapow commented on #563
should be able to close this now. https://yarnpkg.com/blog/2017/08/02/introducing-workspaces/

[2017-08-07 18:34] bestander commented on #563
With the blog post we can close this.
Once I have a spare moment I'll link the blog post from the Docs secion, https://github.com/yarnpkg/website/issues/573

[2017-08-10 04:18] fybwid commented on #590
Hey, thanks for your explanation.
You said "the registry truncates the description at that length" so what is the maximum length of the character?

[2017-08-10 06:04] Haroenv commented on #590
[code]

It's 255 characters

[2017-08-10 06:44] fybwid commented on #590
@Haroenv Thanks for your explanation.

[2017-08-10 11:40] Haroenv opened #594 "URL for files on detail page"
could also be `?files` or something, and it should open the files view once a page is loaded from that URL. A query string will be easier, since then we just need to pass another prop to the Detail component, which then renders the files, if needed

[2017-08-10 15:24] burgwyn opened #595 "Update Installation Instructions - CentOS / Fedora / RHEL"
The current installation instructions for Node.js on CentOS / Fedora / RHEL fail

[code]

Based on research, the [instructions from NodeSource](https://nodejs.org/en/download/package-manager/#enterprise-linux-and-fedora) are actually

[code]

[2017-08-11 00:28] bestander commented on #595
Fixed now

[2017-08-11 00:28] #595 closed

[2017-08-11 00:47] Daniel15 commented on #595
The old one would have worked fine if you run it as root (ie. run `sudo -i` to get a root terminal, then run it). Thanks for submitting a fix! 👍

[2017-08-13 22:28] Daniel15 commented on #594
This is a good idea 😃

[2017-08-13 22:47] Daniel15 opened #597 "Document --without-node option for Homebrew installs"
Homebrew now has a `--without-node` option to install Yarn via Homebrew without installing Node.js via Homebrew. See https://github.com/Homebrew/homebrew-core/pull/16021#issuecomment-320473734

This should be added to the Mac OS installation docs.

[2017-08-14 06:43] Haroenv commented on #594
A think to keep in mind here, is that the files view rely on the package already being fetched from Algolia, if you load it before loading the other metadata, it won't work. If this is made, that timing issue could be fixed at the same time

[2017-08-14 07:06] #597 closed

[2017-08-16 11:10] peteringram0 opened #600 "Unpublish"
With npm there is a npm unpublish command but this does not seem to exist with yarn. My package has been removed from NPM but yarn has a cache. How can i get rid of this cache please?

Thanks

[2017-08-16 12:27] Haroenv commented on #600
Hey, for now the README and its metadata will indeed still be visible from the Yarn website, even though it’s unpublished and not installable.

For now an email to haroen@algolia.com will be sufficient to get it deleted rapidly.

I’m closing this, since this is actually tracked in https://github.com/algolia/npm-search/issues/51

[2017-08-16 12:27] #600 closed

[2017-08-16 13:47] Haroenv opened #601 "Show the version of other tags"
The tags `beta` and `next` and how they relate to the version number could be showed somewhere near the version number or the Versions in the sidebar

[2017-08-16 14:19] Haroenv commented on #601
This info is in the `dist-tags` key in the registry, I’m not sure if we already have that in the index

[2017-08-16 14:48] Haroenv commented on #601
see https://github.com/algolia/npm-search/pull/54 for adding `tags` to the index

[2017-08-17 11:53] #601 closed

[2017-08-19 13:41] Haroenv opened #604 "OGP images and tags for each package detail page"
Some OGP tags should be set, an image with reasonable information. This could probably be generated on-demand by some backend process.

We should also figure out how to make Twitter, FB etc parse the page properly because it’s a SPA, which doesn’t always play nice with their parsers, even though we have Netlify prerendering enabled

[2017-08-22 15:47] BYK opened #605 "Docs: document selective version resolutions"
Implementation: https://github.com/yarnpkg/yarn/pull/4105
RFC: https://github.com/yarnpkg/rfcs/pull/68

[2017-08-23 11:38] Haroenv commented on #372
@thejameskyle, is the data that’s now on the site created with yarnpkg/perf?

[2017-08-29 19:31] dguo opened #614 "Browse files doesn't seem to work"
Hi, I tried opening the file listing for https://yarnpkg.com/en/package/qs, and I got an error message: `Could not load file listing: Unexpected token < in JSON at position 0`. I got the same thing in incognito mode. Firefox gave me `Could not load file listing: JSON.parse: unexpected character at line 1 column 1 of the JSON data`, and Safari gave me `Could not load file listing: The string did no

[2017-08-29 19:35] Daniel15 commented on #614
Looks like a breaking change with the Unpkg site. We use their API to retrieve the file listing. I'll ping @mjackson about it.

https://github.com/unpkg/unpkg-website/issues/60

[2017-08-29 20:53] #614 closed

[2017-08-29 21:46] mjackson commented on #614
Sorry @dguo, my bad! Should be fixed now :)

[2017-08-29 21:47] dguo commented on #614
Thanks to both of you for the quick fix!

[2017-09-01 12:28] Haroenv opened #616 "improve on “tags” display"
- [ ] add something actionable, like copying `yarn add pkg@tag`
- [ ] hide versions other than “latest”, “rc”, “beta” and “next” behind a “Display all”
- [ ] order the tags based on semver (newest on the top)

[2017-09-01 13:27] bennypowers opened #617 "Document prepare command"
Since yarn prepare is reserved, the prepare command should be documented at https://yarnpkg.com/en/docs/cli/prepare

[2017-09-01 13:33] bennypowers commented on #617
Documentation doesn't have to be at that specific URL, but it must be documented that users can't define their own prepare scripts

[2017-09-01 18:28] Haroenv commented on #617
Feel free to do a PR! info should be added in `prepare.md` [here](https://github.com/yarnpkg/website/tree/master/lang/en/docs/cli) like the other ones.

Did this land in Yarn stable? I don’t think there’s a release yet

[2017-09-03 13:06] kuldeepkumarsainidsky opened #618 "@Call us Pro & Enterprise@(1800 984 2725)Quickbooks tech support phone number* 1 800 984 2725"
@Call us  Pro & Enterprise@(1800 984 2725)Quickbooks tech support phone number* 1 800 984 2725
CYCLE@@@@@l 1-800 984 2725 Quickbooks pro tech support phone number Quickbooks pro technical support phone number Jump to: navigation, search CYCLE@@@@@l 1-800 984 2725 Quickbooks pro tech support phone number Quickbooks pro technical support phone number 1-800 984 2725Quickbooks pro & h & phone number i

[2017-09-04 09:59] Haroenv opened #621 "deal with deleted GitHub repositories"
Stargazers will show as `false` if the API response from GitHub is 404.

See also https://github.com/algolia/npm-search/issues/62

example: https://yarnpkg.com/en/package/react-condition

![](https://user-images.githubusercontent.com/123822/29777067-06e80450-8c0b-11e7-85b2-3151e397f402.png)

[2017-09-04 12:01] #621 closed

[2017-09-05 09:22] #579 closed

[2017-09-05 19:03] Daniel15 opened #626 "Site build is broken"
@Haroenv, do you know anything about this?
[code]

https://app.netlify.com/sites/yarnpkg/deploys/59aeef967960b173b1354fe6

[2017-09-05 19:20] Haroenv commented on #626
Not exactly sure what the cause of that was, saw it a few times. It works after retrying usually, but it's still really annoying. It's got to do with pr 541 still I think

[2017-09-05 20:54] vvo commented on #621
gg

[2017-09-06 07:39] Haroenv commented on #626
c23f92e2f03446a48be214d817d31296a235d2df broke, but fe7611b9e1d5e67401772521174d9ede3e2a80ab deployed. I'll leave this open because the translation script seems to fail almost 50% of the time and I don't really know why.

[2017-09-07 07:29] RafalFilipek opened #630 "Incorrect "dependents" number"
Hi!

https://yarnpkg.com/en/package/styled-props
https://yarnpkg.com/en/package/lodash
https://yarnpkg.com/en/package/jest
https://yarnpkg.com/en/package/fela

All those packages has Dependents = `1.5m`

<img width="364" alt="popular" src="https://user-images.githubusercontent.com/80960/30151243-f0343890-93ae-11e7-8d6e-df23a7c636fc.png">
<img width="378" alt="unpopular" src="https://user-images.gi

[2017-09-07 07:30] Haroenv commented on #630
You're right, I noticed this last week, but didn't actually get around to fixing it. I think npm changed their database view.

Duplicate of https://github.com/algolia/npm-search/issues/63

Thanks for reporting!

[2017-09-07 13:54] #372 closed

[2017-09-07 15:02] #605 closed

[2017-09-07 17:19] Haroenv commented on #626
fixed in #636

[2017-09-07 17:19] #626 closed

[2017-09-08 05:14] BYK opened #637 "Enhancement: document /latest-version endpoint"
This came up here https://github.com/heroku/heroku-buildpack-nodejs/issues/468#issuecomment-327505663 around Yarn 1.0 release when we had a failure on Heroku.

We should document this endpoint so people don't have to discovered it themselves or rely on third-party services like NPM or GitHub to determine the latest Yarn version.

[2017-09-08 13:46] BYK opened #638 "Docs: document `yarn-path` parameter in .yarnrc"
Added here: https://github.com/yarnpkg/yarn/pull/4204

[2017-09-08 17:09] workjalexanderfox opened #639 "typo in Selective dependency resolutions | Limitations & Caveats"
https://github.com/yarnpkg/website/blob/master/lang/en/docs/selective-version-resolutions.md

"Nested packages may nor work properly."
to
"Nested packages may not work properly."

[2017-09-08 17:10] Daniel15 commented on #639
Would you like to submit a pull request to fix it? You can edit the file directly on GitHub - Click the pencil icon at the top right

[2017-09-08 17:10] workjalexanderfox commented on #639
yeah, thought I would have to fork and create PR.

[2017-09-09 06:14] Daniel15 commented on #639
Fixed by #640. Thanks!

[2017-09-09 06:14] #639 closed

[2017-09-09 20:06] pierreneter opened #642 "the wrong URLs in the top menu after visited /blog"
**reproduce**

* Visit: https://yarnpkg.com/blog/
* Click any link in the top menu bar except for the logo and icons on the right

Incorrect URLs and 404 errors.

[2017-09-09 21:24] Haroenv commented on #642
oh, thanks for that! That’s because the blog isn’t translated, we should just link to `/en/...` there

[2017-09-10 19:19] Daniel15 opened #644 "Download count is incorrect for namespaced packages"
https://yarn.pm/@yarnpkg/lockfile shows 0 downloads
https://www.npmjs.com/package/@yarnpkg/lockfile shows 199 downloads.

[2017-09-11 06:10] Haroenv commented on #644
Yep, that's an open issue on the crawler: https://github.com/algolia/npm-search/issues/61; scoped packages break the API call if you check the downloads in batch instead of individually.

Thanks for noticing!

[2017-09-11 14:23] BYK commented on #638
Needed in https://github.com/yarnpkg/yarn/issues/4356#issuecomment-328544948

[2017-09-12 15:51] BYK opened #646 "Docs: clearly document which versions of node are supported"
Came up in Discord and in some other issues.

Looks like as of 1.0 we support `^4.8.0` and `>= 5.7.0` and this should be clearly visible on the website, hopefully on the front-page.

[2017-09-13 06:39] Ivshti opened #647 "Recent update of install.sh breaks support for older OSX versions"
See this for background: https://github.com/yarnpkg/yarn/issues/1984

this commit introduces a new call to `mktemp` that's incompatible with older versions of OSX: https://github.com/yarnpkg/website/commit/fe7611b9e1d5e67401772521174d9ede3e2a80ab

This is a significant problem because a lot of Travis builds still use those OSX versions for legacy reasons (so that any binary builds would be backwar

[2017-09-13 06:40] Ivshti commented on #647
This is a very easy fix. All it needs is a template given to `mktemp`, as mentioned in https://github.com/yarnpkg/yarn/issues/1984

[2017-09-13 06:41] Daniel15 commented on #647
Ugh, @BYK could you please take a look? I'm not going to have time to look at this since I'm flying to Australia tomorrow.

It's the `mktemp` thing again - It **requires** the template on old MacOS. Documented in the other issue that @Ivshti linked to.

I'd love to run our end-to-end tests on MacOS (like how we have end-to-end tests running on Ubuntu 12.04, 14.04 and 16.04), but unfortunately Appl

[2017-09-13 06:42] Daniel15 commented on #647
Feel free to submit a PR fixing this, @Ivshti 😃

[2017-09-13 06:47] Ivshti commented on #647
Done, but I don't have pre-sierra osx to test. I know that our travis builds fail because of this, but I haven't ran the updated version of the `install.sh` script. I assume it should work

Take a look: https://github.com/yarnpkg/website/pull/648

[2017-09-13 07:45] Haroenv commented on #647
Seems like this can be closed now, thanks for your fast resolution @Ivshti 🎉

[2017-09-13 07:45] #647 closed

[2017-09-13 12:27] Ivshti commented on #647
thanks for the merge, will this be uploaded to the site soon?

[2017-09-13 12:38] Haroenv commented on #647
It's live. Earlier there was a bug in our CDN, but this should be the version you get if you clear the cache

[2017-09-13 16:15] mikemaccana opened #650 "Move info re: why not to use npm to install yarn into Windows / OS X / Linux bits"
It would be nice for the install page to clarify why npm should not be used.

https://yarnpkg.com/en/docs/install#alternatives-tab explains this perfectly:

It's just in the wrong place in 'Alternatives'. These instructions are
presented as a peer for Windows, Mac and Linux. Users will only see them
they're not running Windows, Mac or Linux.

This info should be moved out so people who aren't runn

[2017-09-13 16:33] Daniel15 commented on #650
I have a work-in-progress pull request to revamp the downloads page: https://github.com/yarnpkg/website/pull/592. Maybe we can change something there

Do you think it's worth showing the "Installation of Yarn via npm is generally not recommended" section for every OS?

[2017-09-13 18:55] Haroenv commented on #650
I think that should say

That way it doesn’t sound as FUD

[2017-09-13 22:36] mikemaccana commented on #650
I think the current page does a good job of explaining why, avoiding it lookign like FUD. Quiting it in full:

[2017-09-13 22:47] BYK commented on #650
The "signing" part needs to be expanded a bit since NPM registry has package signatures for checksum but this is not the signature we are mentioning. How about the following:

PS: now I think I've almost fixed #589 .

[2017-09-16 11:28] BYK opened #651 "Docs: document the --cwd option"

[2017-09-18 14:17] gargoyle commented on #646
Can the main yarn command be able to spit something out? In the last 6 months since switching `npm` for `yarn` I don't think I have been back to yarnpkg.com.

Additionally, even after seeing this closed issue, I still didn't see the dependency at first. The problem being a subtle UX one - after the homepage, I mentally blocked out the big blue section at the top as "page header".

You should move

[2017-09-18 14:56] BYK commented on #646
I think this is not a bad idea. We can have a more specific engines field in Yarn and then check this at every invocation. It may be a bit costly though.

[2017-09-18 14:57] BYK commented on #646
I think this is already done but the site didn't deploy after the PR. Ping @Haroenv for that.

[2017-09-18 15:02] gargoyle commented on #646
I've also just submitted another PR to get rid of the paragraph below the first section which says you don't need nodesource for 16.04 - because it seems you do.

https://github.com/yarnpkg/website/pull/652

Sorry I can't do more, not really familiar with the tooling yo are using for the website / docs. (I'm not actually a front-end dev). I just have to make sure the dev VM keeps working! :-)

[2017-09-18 15:04] BYK commented on #646
Hahaha, no worries, you already helped a lot. Thanks!

[2017-09-18 18:57] Haroenv commented on #646
Let's take a look at this deploy issue tomorrow. I thought I fixed it 😱

[2017-09-18 19:10] BYK commented on #646
😢

[2017-09-19 00:36] Daniel15 commented on #646
It does check, but only for Node <4: https://github.com/yarnpkg/yarn/blob/master/bin/yarn.js#L10-L12. We can likely make that check for a more specific version range.

[2017-09-19 07:35] Haroenv commented on #646
Actually, no, it's visible on the website, builds worked since I fixed it @BYK.

I'm going to close this, but you should probably reopen this issue on yarnpkg/yarn for making it clear in the cli

[2017-09-19 07:35] #646 closed

[2017-09-19 09:08] Haroenv commented on #651
PR: https://github.com/yarnpkg/yarn/pull/4174

[2017-09-19 11:20] BYK commented on #646
Ah, I was expecting it on the homepage and it was on the installation page. I'll probably submit a PR to put it on the front-page too.

[2017-09-19 11:35] Haroenv commented on #646
It can be on the homepage too I guess, I specifically made it an exception now, but you can simplify those two headers if that's preferred

[2017-09-19 12:49] BYK commented on #646
I think it would be better to keep both version information visible at all times, especially on the landing page. What do you think?

[2017-09-19 12:54] BYK opened #653 "Docs: document the --silent option"
- [x] install
- [ ] ...

[2017-09-19 13:03] Haroenv commented on #646
Perfect, see #654

[2017-09-20 12:01] BYK opened #656 "Docs: document `yarn <script>` usage"

[2017-09-20 13:39] Haroenv commented on #656
This is `yarn run <script>`, but with `run` optional, right?

[2017-09-20 14:21] BYK commented on #656
@Haroenv yup :)

[2017-09-25 02:11] DanBuild opened #659 "yarn-version #29 failed"
Build 'yarn-version' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes

[View full output](https://build.dan.cx/job/yarn-version/29/)

cc @Daniel15

[2017-09-25 02:13] Daniel15 commented on #659
Looks like Github is down. Need to retry once it's back up.

Sent from my phone.

On Sep 25, 2017 12:11 PM, "DanBuild" <notifications@github.com> wrote:

[2017-09-25 02:36] DanBuild commented on #659
Build was fixed!

[2017-09-25 02:36] #659 closed

[2017-09-26 11:31] BYK opened #660 "Docs: update documentation about `ls` -> `list` change"

[2017-09-26 11:36] Haroenv commented on #660
So now all `ls` are renamed to `list`?

[2017-09-26 11:41] BYK commented on #660
Yup :)

[2017-09-26 17:28] scarlac opened #662 "Auto-focus front page search field"
**Feature proposal:**

![screen shot 2017-09-26 at 19 26 33](https://user-images.githubusercontent.com/895369/30874496-d03f636a-a2f0-11e7-82ca-83d4e00e8949.png)

I propose that the main search field on the front page is focused automatically once the app is mounted, since it's such a prominent feature. It would make the frontpage immediately useful as a search page.

[2017-09-27 10:25] Haroenv commented on #662
It’s auto focused at /packages
By the way, you can focus it by typing s or /

Free to more feedback about it

[2017-09-27 10:38] #660 closed

[2017-09-27 10:51] scarlac commented on #662
Thanks @Haroenv . Didn't know I could press `s`. Typing `/` doesn't work on a Danish keyboard though. It doesn't have a dedicated key for `/` but have to press Shift+7. Switching to US layout (still with Danish keyboard) doesn't make it work.

I'm closing, as this was not a bug report but more of a feature request.

[2017-09-27 10:57] Haroenv commented on #662
Yep, you need to have a dedicated key, it wouldn't make much sense otherwise.

The main reason we don't focus on all pages, is because the /en/docs has two search bars

Let's focus it on the main page though, it makes sense

[2017-09-27 11:57] #662 closed

[2017-09-27 14:42] sprd-bena opened #664 "GPG key mismatch betweendl.yarnpkg.com/debian/pubkey.gpg and dl.yarnpkg.com/debian/dists/stable/InRelease"
Maybe I just missed something but this is somehow suspicious:

I encountered a mismatch between the gpg key information on your web-site and the key which signes your packages in the deb-repo.

On https://yarnpkg.com/en/docs/install#linux-tab it says, one has to use https://dl.yarnpkg.com/debian/pubkey.gpg to trust your packages:
[code]

However, on my mirror setup (using aptly) I encountered the

[2017-09-27 14:46] sprd-bena commented on #664
Update:
[code]

So I was just missing the new sub?

[2017-09-27 14:53] Haroenv commented on #664
@Daniel15 is part of the yarn team, and signing the releases, yes

[2017-09-27 15:02] sprd-bena commented on #664
K, can then someone update the information provided via the install instructions, please? Nevertheless this issue can be closed.
Thanks again.

[2017-09-27 15:07] clement-escolano opened #665 "Cli menu in French is broken"
Hello,

In the french menu when browsing the documentation, the key `yarn generate-lock-entry ` is repeated (the second one points to `yarn global`) and the `yarn global` key points to `yarn info`.
You can see the screenshot here:
<img width="1043" alt="image" src="https://user-images.githubusercontent.com/11637509/30915525-5a7495fe-a397-11e7-9a45-046765a53d0c.png">

Thank you for this website ;)

[2017-09-27 15:15] Haroenv commented on #664
Reopening so that @Daniel15 can determine what needs to be changed in these instructions 😄

[2017-09-27 15:36] Haroenv commented on #665
This is probably something translated wrong on https://i18n.yarnpkg.com, will take a look

[2017-09-27 15:53] Haroenv commented on #665
http://i18n.yarnpkg.com/project/yarn/fr/activity#translation_id=4831

Fixed, will be deployed on next release IIRC

[2017-09-27 15:53] #665 closed

[2017-09-27 15:57] clement-escolano commented on #665
Thank you !

[2017-09-27 19:35] roryokane commented on #656
Related: [#306 “No `yarn run` shortcuts documented”](https://github.com/yarnpkg/website/issues/306)

[2017-09-27 20:02] roryokane opened #666 "Document that `yarn run` no longer needs `--` for args"
The [`yarn run` docs](https://yarnpkg.com/en/docs/cli/run) still say this:

But when I try running a command with that `--`, I see this warning:

[code]

The `yarn run` docs should be updated to reflect this.

_Search keywords:_ hyphen, dash

[2017-09-28 01:00] Daniel15 commented on #664
Huh, interesting. I can't replicate this issue though. All the subkeys are in the `pubkey.gpg` file:
[code]
`9D41F3C3` is the old key, and `B6FF4DE3` is the new one. We rotated the key as the old one was about to expire (see https://github.com/yarnpkg/yarn/issues/4253).

It's not a personal key, it's a key specific for Yarn. We don't have any email addresses @yarnpkg.com at the moment though :(

[2017-09-28 01:55] Daniel15 commented on #666
Would you like to submit a pull request to update this documentation?

--
Regards,
Daniel Lo Nigro
https://dan.cx/ | Twitter <http://twitter.com/Daniel15> | Facebook
<http://www.facebook.com/daaniel>

On Thu, Sep 28, 2017 at 6:02 AM, Rory O’Kane <notifications@github.com>
wrote:

[2017-09-28 07:04] Haroenv commented on #656
Feel free to contribute wherever you think this makes sense

[2017-09-28 16:18] #306 closed

[2017-09-28 16:18] #656 closed

[2017-09-28 16:18] #666 closed

[2017-10-02 05:15] AlexKvazos commented on #514
Spent so much time looking for where the install script added the PATH set and never found it so I have to keep the .yarn/bin folder now...

[2017-10-02 14:47] johntron commented on #509
I'm wondering if [this answer](https://stackoverflow.com/a/40057535/400550) is incorrect and potentially harmful. I assume many people have switched to Yarn for it's lockfiles, but it sounds like that's no longer necessary if we use npm lock files.

[2017-10-04 13:34] KwadroNaut commented on #664
sub   rsa4096 2016-10-30 [S]
It has a subkey capable of signing without an expiration date? This sounds like a super bad idea asking people to trust such a key for all their packages on their OS.

[2017-10-05 15:14] RKushnir commented on #514
@AlexKvazos For me it was in `~/.zshrc`, check the respective file for your shell.

[2017-10-06 05:37] dherges commented on #378
[code]

[2017-10-06 07:31] victornoel commented on #378
ok, I think we can say that now it's clear :)

[2017-10-06 07:31] #378 closed

[2017-10-07 19:49] richburdon commented on #563
Visit https://yarnpkg.com/en/docs/cli/workspace for documentation about this command.

Returns 404

[2017-10-07 20:21] Haroenv commented on #563
Good point, let’s add that page

[2017-10-09 22:25] DanBuild opened #673 "yarn-version #33 failed"
Build 'yarn-version' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [Daniel15's Build Bot] 468468e04a032cca7a217134d0c6438bc7b2d891 - Automated upgrade to Yarn 1.2.0

[View full output](https://build.dan.cx/job/yarn-version/33/)

cc @Daniel15

[2017-10-09 22:32] Daniel15 commented on #673
Seems like this ran twice for some reason.

[2017-10-09 22:32] #673 closed

[2017-10-10 13:53] dpolyakov opened #674 "Language selector is broken"
Errors in console:
[code]
[Yandex Browser](browser.yandex.com) 17.9.1.888 (64-bit)
MacOSX 10.12.5

[2017-10-10 14:21] Haroenv commented on #674
On which page is that?

[2017-10-10 16:25] dpolyakov commented on #674
@Haroenv on index page.

[2017-10-10 17:15] Haroenv commented on #674
Hey @dpolyakov, I can reproduce it, this is because of the polyfill service we use not recognising Yandex browser (at least a modern version), and thus including ie6/7/8 poly fills for Element, which aren't needed, but still included

[2017-10-11 04:19] Daniel15 commented on #674
This should still work though... Sounds like the polyfills are flaky.

[2017-10-11 15:48] Haroenv commented on #674
I'm not exactly sure what causes the errors in Yandex. I pushed a PR into polyfill-service that could fix it

[2017-10-12 11:40] DanBuild opened #679 "yarn-version #36 failed"
Build 'yarn-version' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [Daniel15's Build Bot] 5197802f3d7c916d156ed237b1a718655e5a861b - Automated upgrade to Yarn 1.2.1

[View full output](https://build.dan.cx/job/yarn-version/36/)

cc @Daniel15

[2017-10-12 11:57] Daniel15 commented on #679
This is really bizarre... The version bump appears to be running twice for some reason.

[2017-10-16 10:03] BYK opened #681 "Docs: --ignore-workspace-root-check is not documented"
Moved from https://github.com/yarnpkg/yarn/issues/4711 - original issue by @customcommander

Hi,

I'm using `1.2.1` and I have the workspace feature flag enabled.

I'd like to install `lerna` as a "root" dependency:

[code]
The error message is probably enough to be honest. The problem imho is that the info message suggests you can get more info at the doc page which isn't the case.

[2017-10-16 16:34] Haroenv commented on #681
What's the solution here, adding more info about workspaces in the add document?

[2017-10-17 10:40] BYK commented on #681
@Haroenv to document the flag either in `add` or in `workspaces` section. Or ideally, both.

[2017-10-18 20:47] #638 closed

[2017-10-18 22:58] Haroenv commented on #664
[code]

I'm getting a warning from something similar

[2017-10-18 23:50] Daniel15 commented on #664
@Haroenv The warning is just because the GPG key is not marked as 'trusted' on your computer. My understanding is that any imported GPG key shows that warning unless you mark it as trusted or the key itself is signed by many other people.

@KwadroNaut - You're right. That particular subkey is for signing RC releases. However, I definitely see the issue here. Do you think it's better to have a sepa

[2017-10-19 21:31] Haroenv opened #684 "Googlebot doesn't see the content anymore"
Still seems to have indexed most of the things if you search it, but the display doesn't have the content anymore (it used to have it though)

<img width="1091" alt="screen shot 2017-10-19 at 14 29 23" src="https://user-images.githubusercontent.com/6270048/31795291-1d0ed86a-b4da-11e7-9f47-164620803747.png">

test in may:

<img width="784" alt="screen shot 2017-10-19 at 14 31 02" src="https://user-

[2017-10-20 11:46] daflair opened #685 "HTML Comments end up showing in package.html's readme section"
I'm using a workflow which uses hidden annotations to link content across various markdown sources that compile into a single file before publishing and have been struggling with getting the same output to show correctly on yarn as it does on GitHub and NPM.

Initially we've use server-side-style-tags `<?…?>` which were 100% okay until we viewed the package on yarn.

We switched to rewrapping them

[2017-10-20 17:25] Haroenv commented on #685
Which package is that for? This should be fixed by some custom usage of our markdown renderer 🤔

[2017-10-20 17:55] daflair commented on #685
The package is MDon.

And I think this relates to the email scrubbing logic in your code.

[2017-10-20 18:33] Haroenv commented on #685
Thanks for your report!

[2017-10-22 10:34] daflair commented on #685
I am not sure if the commit has gone live or not but I just wanted to include a screenshot that I just took to show you how the bug appears (at this moment).

<img width="762" alt="screen shot 2017-10-22 at 6 32 12 am" src="https://user-images.githubusercontent.com/849613/31861040-0404468c-b6f3-11e7-9727-142249a5b02b.png">

[2017-10-23 06:11] Haroenv commented on #685
Didn’t go live because it didn’t work all the time. I’m still thinking for a better fix

[2017-10-23 11:10] daflair commented on #685
I do have a few options to recommend as I have been looking into the issue for quite sometime now and hope this can be helpful.

I assume you:

* don't want to modify third-party dependencies
* use unmodified marked.js to parse raw md to generate HTML
* do most of your own transforms using marked.js render or subsequently on HTML (not on Dom)

If you maintain your current pipeline and not introduc

[2017-10-23 12:31] Haroenv commented on #685
Thanks for following up, should be fixed now (although not ideal)

[2017-10-23 13:43] daflair commented on #685
The difference between that which is ideal and that which is practical is that only the latter is **real**

[2017-10-26 22:02] robdonn commented on #563
Any progress on this issue?

[2017-10-27 17:58] smotaal opened #692 "Broken images when using relative paths to SVG (compared to PNG)"
*This is a joint issue for both NPM & Yarn caused by how `raw.githubusercontent.com` misidentifies certain file types.*

**TD;LR**

I created a sample package with a README and details:
  * **GitHub**: https://github.com/code-therapy/packages-with-readme-relative-images
  * **NPM**: https://www.npmjs.com/package/@code-therapy/packages-with-readme-relative-images
  * **Yarn**: https://yarnpkg.com/e

[2017-10-27 18:35] Daniel15 commented on #692
This sounds like a Github bug rather than an npm or Yarn bug. Maybe contact Github support about it?

[2017-10-27 20:01] Haroenv commented on #692
this is because of https://github.com/isaacs/github/issues/316

[2017-10-27 20:12] smotaal commented on #692
It does sound like it is, but it actually is not… here is why:

* raw.githubusercontent.com (which replaced taw.github.com) does the following:

  This is not the same as serves files, which should be properly typed, but rather the raw file content, and it does that by ensuring that you will always get the bytes as they are in the repo.

  They opted to MIME-type images but avoided typing anything

[2017-10-27 20:27] smotaal commented on #692
@Haroenv yeah… I've gone through that one and it is a lot of information going in all directions, very confusing to figure out how to move forward but I found the github/markup#556 a really good read on what GitHub resorts to in order to manage SVG (which is a static resource that contains dynamic content compared to PNG).

[2017-10-27 20:48] smotaal commented on #692
One thing I can recommend as a possible way to force-type with yarn's client-side rendering is to XHR the content into blobs (object-urls) or data-urls (ohhh can have performance impact on users) and use those as src's for the images, but you will probably need to refactor buildImageUrl to async function regardless or return a placeholder and have XHR's load event replace those elements when the c

[2017-10-28 00:19] smotaal commented on #692
@Haroenv BTW I just realized that the last recommendation which I initially assumed applies only internally within github.com and it's direct subdomains also works for `raw.githubusercontent.com`…

This solves this issue so I hope others can learn about this solution.

You can check out the package on all 3 sites showing new instances with `?sanitize=true` and it works!

[2017-10-28 03:09] Haroenv commented on #692
let's add that by default then, thanks for investigating!

[2017-10-28 07:01] bestander commented on #563
Nope :(
If anyone jumps in and fixes #573 that would be great

[2017-10-28 11:44] smotaal commented on #692
Thank you!

[2017-10-30 09:26] #692 closed

[2017-11-01 03:36] Daniel15 opened #700 "Yarn install documentation recommending --frozen-lockfile for CI builds is too opinionated"
_From @sesopenko on October 31, 2017 16:9_

**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
The top of the documentation page states that yarn install --frozen-lockfile is recommended for CI builds, failing a build if the lockfile is out of date.

**If the current behavior is a bug, please provide the steps to reproduce.**
n/a

**What is the exp

[2017-11-01 03:36] Daniel15 commented on #700
_From @eventualbuddha on October 31, 2017 17:40_

FWIW, I think this recommendation is correct. If a lockfile is out of date with respect to the package.json, that's a problem and should not be allowed. If such a state is detected on a branch, that branch should not be merged. If your opinion is different, you're welcome to omit `--frozen-lockfile` or simply log and ignore the error.

**UPDATE**

[2017-11-01 03:36] Daniel15 commented on #700
Moving to website repo as this issue relates to documentation. Thanks!

[2017-11-01 03:37] Daniel15 commented on #700
I want to get opinions from other Yarn devs (cc @yarnpkg/core), but I think @eventualbuddha is correct. The lock file won't suddenly become out-of-date through normal use. It'll only become out-of-date if someone modifies the `package.json` file without re-running Yarn. This will break the build, which is the correct behaviour. The package.json should never be out of sync with yarn.lock. Consequen

[2017-11-01 05:24] sesopenko commented on #700
Scenario: package.json has a remote dependency with a carat for the version
number, making it update to the latest minor symver.  Remote dependency
pushes a new minor version.

According to the documentation it will exit with a failure if
--frozen-lockfile is executed.

This is not helpful in a ci environment because it doesn't make sense to
fail a build due to a dependency being out of date. Ther

[2017-11-01 05:57] eventualbuddha commented on #700
I don’t have a completely firm grasp on exactly how yarn works because I have not read and understood all of the source code, but I believe the entire point of a system like yarn.lock (or package-lock.json, for that matter) is to lock down *all* dependencies, immediate or transitive. So it should not matter that one of your dependency `A` has a range dependency for `B` that would include a new rel

[2017-11-01 05:57] Daniel15 commented on #700
number, making it update to the latest minor symver.  Remote dependency
pushes a new minor version.

That's not right. CI will continue to pass, and Yarn will continue to install the version specified in the lockfile, even if a new version comes out. That's the purpose of the lockfile - All of your dependencies are locked to a 'known good' version.

Yarn will not throw an error if a dependency is

[2017-11-01 15:12] sesopenko commented on #700
Then maybe the documentation for --frozen-lockfile needs to be more clear.

There is no explanation of what "an update is needed" includes.  Here's a scenario that needs clarification.

packages.json dependency:
`{
  "dependencies": {
    "vue": "^2.2.6",
  }
}`

Resulting lockfile dependency:
`vue@^2.2.6:
  version "2.4.4"
  resolved "https://registry.yarnpkg.com/vue/-/vue-2.4.4.tgz#ea9550b96a714

[2017-11-01 18:27] rally25rs commented on #700
Yarn will:

* check package.json, see `vue@^2.2.6`
* map that in the yarn.lock file: `vue@^2.2.6 => 2.4.4`
* install exactly version 2.4.4

The lockfile does not need to be updated, and the CI build will pass.

Yarn will:

* check package.json, see `vue@^3.0.0`
* map that in the yarn.lock file: `vue@^3.0.0` does not have a mapping (only ^2.2.6 does)
* now we need to add yarn.lock file mapping for

[2017-11-02 00:23] smotaal commented on #692
So, just wanted to update you guys on the latest on this from my end.

I did a little experiment with offloading the entire rendering to GitHub:

https://codepen.io/daflair/full/aVvGKV

It uses GitHub v3 api, so it would require authentication to avoid rate limiting which is something I am sure Yarn already does for other aspects of the site.

[2017-11-02 07:16] Haroenv commented on #692
That's cool @smotaal! unfortunately we found that authenticating is too much hassle, but this would be a nice addition. If you'd like to spend the time figuring out how to get users to authenticate so we can use the GitHub api. The problem we have a little now is that we can't hardcode an api key or similar, because we have more traffic that _one_ api key can handle. Feel free to open another issu

[2017-11-02 07:30] Haroenv commented on #692
After reading your comment a second time, I think it might be possible to do it that way to offload the rendering, and get known safe html back. We can maybe enable it as a A/B test 🚀

[2017-11-02 20:20] DanBuild commented on #679
Build was fixed!

[2017-11-02 20:20] #679 closed

[2017-11-03 12:05] normanzb opened #701 ""change language" icon"
The icon itself reads "Aあ" since あ is Japanese hiragana, I supposed there should be Japanese translation, but it doesn't, this breaks the principle of least astonishment.

[2017-11-03 12:21] Haroenv commented on #701
Thanks for your feedback, let's change it, I think we should rather just enable Japanese, since it's almost complete. Maybe you can help with the last parts?

http://i18n.yarnpkg.com/project/yarn/ja#

I'll take a look how to enable Japanese here too :)

[2017-11-03 12:35] #701 closed

[2017-11-03 12:35] Haroenv commented on #701
I just enabled the Japanese translations! thanks everyone in the community and you for reminding us!

[2017-11-03 16:48] Haroenv opened #703 "markdown: relative file linking is wrong"
it should have `blob` added to the pathname before the hash

[2017-11-03 17:00] #703 closed

[2017-11-03 18:12] benmvp commented on #703
Niiiiice! Thanks for the quick fix! 😄

[2017-11-05 19:10] yfdyh000 opened #704 ".hero {padding: 5rem 0;} is too high"
For https://yarnpkg.com/en/docs and https://yarnpkg.com/en/packages, I see the "hero" takes up the entire top half of the screen in 1366x768. This is wastes space and draws attention, I often misses the content below and mistakenly use the search box above.

I think use `1rem` is more reasonable for the two parts above.

[2017-11-06 01:26] VINTproYKT opened #705 "Can't download release through docs/install"
https://yarnpkg.com/en/docs/install

Look, there is error that possibly stops me from downloading release for Windows (or any other OS).

I get such DevTools console output on page load:
[code]

And each click on document body produces this one:
[code]

Screenshot of the page:
![yarnpkg com-en-docs-install](https://user-images.githubusercontent.com/5708819/32421518-88f9347a-c2aa-11e7-82d0-f7361f9f

[2017-11-06 01:27] Daniel15 commented on #705
Could you please try another browser and see if it works? I'm wondering if this is specific to Yandex browser.

[2017-11-06 01:29] Daniel15 opened #706 "[DOC] Installing yarn on docker images"
_From @andreawyss on October 20, 2017 17:43_

Add language in the installation instruction to be aware to first remove existing versions of yarn installed. This is a common problem when installing the latest version of yarn with apt-get on a docker image such as the docket hub 'node:6.11.4'.

This 2 command are required before installing yarn with apt-get
#### Remove yarn: symbolic links and binar

[2017-11-06 01:29] Daniel15 commented on #706
Feel free to submit a pull request adding this to the site, if you like :)

The site repo is here: https://github.com/yarnpkg/website

[2017-11-06 01:33] VINTproYKT commented on #705
@Daniel15 Yeah, that makes sense. Have tried in Edge and it gotta be working.
Oh, old Chrome also is working fine with this.

OK, it may be related as per-version issue in my browser.

[2017-11-06 01:33] #705 closed

[2017-11-06 07:59] Haroenv commented on #705
Thanks for reporting, really not sure what the cause is of Yandex being so different from Chrome...

[2017-11-06 08:04] #704 closed

[2017-11-07 00:05] moberhuber opened #709 "Website indicates yarn as compatible with node 4.8 but it isn't"
At the top of http://yarnpkg.com I see this:
[code]

But yarn-1.3.2.js doesn't run on node 4.8 for me:
[code]
I think the website should be updated, removing node 4.8 from the top.

[2017-11-07 00:14] Daniel15 commented on #709
You need to use the -legacy Yarn build (eg. `yarn-legacy-1.3.2.js`) on Node.js versions older than 6.0.

[2017-11-07 08:07] Haroenv commented on #709
Maybe the range should be:

Node: ...
Node (legacy): ^4.8.0 || ^5.7.0

[2017-11-07 10:29] avaragado opened #710 "yarn unlink: must yarn unlink [package] before yarn unlink despite message to the contrary"
https://yarnpkg.com/en/docs/cli/unlink

The example given on that page, and the message output by `yarn unlink`, strongly implies you run `yarn unlink` and then `yarn unlink [package]`. But it fails:

[code]

To make it work, unlink in the reverse order to linking: `yarn unlink my-package` then `yarn unlink`.

[2017-11-07 10:31] Haroenv commented on #710
What would be a clearer text?

[2017-11-07 11:29] avaragado commented on #710
My suggestions:

1. Fix the `yarn unlink` code so it doesn't tell people to do something that doesn't work.
1. In the first paragraph of the `yarn unlink` doc page, say explicitly that you should use the two `yarn unlink` commands in the reverse order to the `yarn link` commands.
1. Fix the code samples on the page so the two flavours of `yarn unlink` are run in the correct order, and show what ya

[2017-11-08 03:19] ai opened #711 "README.cn.md instead of regular README.md"
[PostCSS repo](https://github.com/postcss/postcss) has two README files: `README.md` and `README.cn.md` (with Chinese translation).

By some reason, [Yarn package page](https://yarnpkg.com/en/package/postcss) use `README.cn.md` instead of `README.md`.

[2017-11-08 07:42] Haroenv commented on #711
oh, thanks for noticing, I'll investigate this!

[2017-11-08 07:46] Haroenv commented on #711
I'm closing and reopening in https://github.com/algolia/npm-search/issues/67

[2017-11-08 07:46] #711 closed

[2017-11-08 16:05] markstos commented on #181
This should be re-opened, it's still not clear what `yarn list --depth 0` is showing. See: https://github.com/yarnpkg/website/pull/251#pullrequestreview-75150705

[2017-11-08 17:02] olingern commented on #181
@markstos I'll provide a detail explanation of what is being displayed here later today.

[2017-11-09 06:59] akshayvinchurkar1 opened #713 "when i run bundle exec jekyll serve --incremental i get this error"
when i run bundle exec jekyll serve --incremental i get this error

Conversion error: Jekyll::Converters::Scss encountered an error while converting 'css/main.scss':
                    File to import not found or unreadable: bootstrap/scss/bootstrap.scss. Load path: C:/Users/admin/Desktop/website/_sass on line 24

[2017-11-09 07:54] Haroenv commented on #713
can you run `make` instead?

[2017-11-09 08:01] akshayvinchurkar1 commented on #713
i am on windows so no ```make```

[2017-11-09 08:30] Haroenv commented on #713
The manual steps are:

[code]

and then to start:

[code]

Did that help?

[2017-11-09 08:44] akshayvinchurkar1 commented on #713
Cloning into 'C:/Users/admin/Desktop/website/_sass/bootstrap'...
Host key verification failed.
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.
fatal: clone of 'git@github.com:twbs/bootstrap.git' into submodule path 'C:/Users/admin/Desktop/website/_sass/bootstrap' failed
Failed to clone '_sass/bootstrap'. Retry scheduled

[2017-11-09 08:55] Haroenv commented on #713
I think you might need to add your ssh key to GitHub: https://github.com/settings/keys, otherwise you can change the .gitmodules to use https://github.com instead of git@

[2017-11-09 09:14] akshayvinchurkar1 commented on #713
[submodule "_sass/bootstrap"]
	path = _sass/bootstrap
	url =  https://github.com:twbs/bootstrap.git

this is correct right?

[2017-11-09 09:23] iarna opened #714 "[doc] Yarn website documents bundleDependencies but does not support them"
Docs are [here](https://yarnpkg.com/lang/en/docs/dependency-types/#toc-bundleddependencies)

Yarn does not support installing nor publishing bundled dependencies. Installation of a package that bundles deps will get the wrong versions. Publishing or packing of a project with bundled dependencies will result in a tarball without any of those packages in the tarball.

I'm suggesting that the documen

[2017-11-09 09:24] akshayvinchurkar1 commented on #713
i manually download bootstrpa and put in sass folder and then run the rest commands error

jekyll 3.2.1 | Error:  Invalid CSS after "...lor}: #{$value}": expected "{", was ";" on line 4

[2017-11-09 09:48] Haroenv commented on #713
[code]

[2017-11-09 09:50] Haroenv commented on #714
Thanks for noting this @iarna, @yarnpkg/core, do you agree that it should be removed until we support it?

[2017-11-09 10:04] akshayvinchurkar1 commented on #713
still its not working

[2017-11-09 10:15] Haroenv commented on #713
I'm sorry that I can't help you more than this, could you maybe push a repository with the bootstrap tracked so I can try it?

[2017-11-09 10:15] Haroenv commented on #713
Otherwise you can maybe do your change without seeing how it looks, and relying on the pull request deploy preview to see the change

[2017-11-10 15:02] markstos commented on #181
@olingern It does seem like `yarn list --depth 0` is showing flattened dependencies. I guess if you want the un-flattened dependencies, you can just open up `package.json`. If the current behavior is considered desired, then appropriate mentions of flattening should be added to the `yarn list` docs.

[2017-11-13 01:55] bestander commented on #714
Yeah, bundled dependencies are a trouble.
I propose just fixing them, there are some known bugs and it should be rather easy to fix them

[2017-11-13 02:33] Daniel15 commented on #700
@rally25rs's comment covers it. `--frozen-lockfile` will only fail a build if the package.json is inconsistent with the lockfile, so it's highly recommended and should never break a legitimate build.  Feel free to send a pull request updating the wording on the site if you feel like it's unclear :)

[2017-11-13 02:33] #700 closed

[2017-11-14 17:12] BYK commented on #714
@bestander totally agree and apologize for the completely misleading docs @iarna. We already have https://github.com/yarnpkg/yarn/issues/3751 but the title was not reflecting that it was all about `bundledDependencies.

I'll go ahead and close this in favor of the updated issue on the actual Yarn repo.

[2017-11-14 17:12] #714 closed

[2017-11-15 12:26] #591 closed

[2017-11-15 12:36] Haroenv opened #718 "show typescript / flowtype compatibility"
see https://github.com/ofrobots/typescript-friendly, we can check

1. package.json#types (can be done in algolia/npm-search)
2. fetch the DefinitelyTyped / flow-typed
3. check unpkg for index.d.ts and index.js.flow or something?

cc @ofrobots

[2017-11-15 12:37] Haroenv commented on #718
https://twitter.com/haroenv/status/930124535025762304

[2017-11-15 12:39] Haroenv commented on #718
<img width="380" alt="screen shot 2017-11-15 at 13 38 57" src="https://user-images.githubusercontent.com/6270048/32836524-6002c38a-ca0a-11e7-9396-8043b47d0407.png">

Could look something like this, or maybe two entries for flow and TS

[2017-11-16 06:03] ofrobots commented on #718
@Haroenv I'm trying to run the site locally, but can't get the package page to work:

![image](https://user-images.githubusercontent.com/79017/32876236-c5f456e0-ca50-11e7-89c9-e5bd8a791f44.png)

Is there any config I need to do in order for the package page to work?

[2017-11-16 08:09] Haroenv commented on #718
the link is slightly different in develop, after running `make`, you can use for example http://127.0.0.1:4000/lang/en/package/?webpack

[2017-11-16 08:43] castelobranco opened #719 "404 error"
There is a missing page on the documentation - 404 error: <https://yarnpkg.com/en/docs/managing-dependencies>.

[2017-11-16 08:46] Haroenv commented on #719
This link seems to work for me

<img width="1028" alt="screen shot 2017-11-16 at 09 46 15" src="https://user-images.githubusercontent.com/6270048/32881913-0269feba-cab3-11e7-9595-c2e36583df39.png">

Could you try again?

[2017-11-16 23:03] jasongrout opened #720 "typo in docs"
https://github.com/yarnpkg/website/blob/1c04a8843512d7a7bfab9beea58f63965ae22ab7/lang/en/docs/workspaces.md has a typo: `accidentaly` should be `accidentally`

[2017-11-17 05:27] kamleshchandnani opened #721 "yarn add <git remote url> doesn't work"
```yarn add <git remote url>``` throws ```error Missing list of packages to add to your project``` because yarn is identifying the characters in git URL as paramter list and it breaks after ```@``` is encountered in the the git url.

Steps to reproduce:
```yarn add -d git+https://username@bitbucket.org/projectname/repo.git```

Possible solution:
```yarn add -d -- git+https://username@bitbucket.org

[2017-11-17 08:19] Haroenv commented on #720
Feel free to open a PR!

[2017-11-17 16:23] jasongrout commented on #720
Thanks! I didn't think the paperwork for me to contribute to a new repo was worth the effort...

[2017-11-17 16:27] castelobranco commented on #719
Hi Haroenv, it is working now! Thanks!

[2017-11-17 16:27] #719 closed

[2017-11-17 16:45] #720 closed

[2017-11-20 09:21] Haroenv opened #723 "add a CDNs header under use it"
* unpkg
* jsDelivr

<img width="383" alt="screen shot 2017-11-20 at 10 21 42" src="https://user-images.githubusercontent.com/6270048/33010945-a23cc09a-cddc-11e7-85b3-438fe4909116.png">

[2017-11-20 10:50] xtuc commented on #723
Here is also a CDN I maintain: https://bundle.run. It's a bundler a service + a CDN on front of it. Can we add it there?

[2017-11-20 11:03] Haroenv commented on #723
sure!

[2017-11-20 18:28] Daniel15 commented on #723
Don't forget CDNJS, which is probably the largest one :)

[2017-11-20 22:30] Haroenv commented on #723
I don’t think CDNjs has a 1:1 npm <-> cdn mapping though, and neither are they putting something in package.json @Daniel15

[2017-11-20 22:33] Daniel15 commented on #723
@Haroenv There's an Algolia index used on their site (https://cdnjs.com/). Could npm package name be indexed too? Their JSON files have an `npmName` field (see https://github.com/cdnjs/cdnjs/blob/master/documents/autoupdate.md)

[2017-11-20 22:41] Haroenv commented on #723
Good point, cdnjs _does_ have an Algolia index, so we could query that with the `npmName` as filter, or simply doing getObject (and dealing with double namings)

[2017-11-21 23:08] robdonn opened #728 "Teams?"
There is a page on the website instructing how to create and destroy teams and adding and removing users from teams, but there is no explanation of what teams are?

So... what are teams?

[2017-11-26 05:13] mjackson commented on #723
I'm a little concerned that the order of CDNs in this list is going to convey a preference to users. For example, on several of the packages that I maintain, like [react-router](https://yarnpkg.com/en/package/react-router), jsDelivr is currently at the top of the list of CDNs. However, we don't actually recommend that people use jsDelivr in our README.

Would it be feasible to do a quick grep thro

[2017-11-26 08:29] Haroenv commented on #723
That’s an interesting idea. We have to only make sure that it won’t shuffle the order once it’s already rendered, but the search can happen at indexing time to avoid that.

[2017-11-26 09:05] xtuc commented on #723
Just an idea, but what about a new field in the package.json? `CDNs` which are the ONLY CDNs that will show up on the page.

So that @mjackson can only show his unpkg and me only bundle.run :smile:

[2017-11-26 09:06] Daniel15 commented on #723
What's the use case though? If a file is available on multiple CDNs, why would some of them intentionally be hidden? I agree that being able to influence the order is good, but I don't understand the purpose of totally hiding particular options.

[2017-11-26 11:28] xtuc commented on #723
@Daniel15 ok, you're right.

[2017-11-26 12:28] MartinKolarik commented on #723
I think the original idea behind this section was providing links to all existing services so that users could quickly get the link to whichever service they prefer.

In this context, hiding services not mentioned in package.json/readme doesn't make much sense IMHO.

[2017-11-26 21:37] Haroenv commented on #723
Yes, adding some order based on appearance in readme seems nice, hiding others would seem not like a good idea

[2017-11-26 21:56] xtuc commented on #723
This solution looks good to me. We can order by the number of occurrence in the README.

I just hope nobody has something like "don't use [CDN]" because the CDN will probably show up first in the list.

[2017-11-27 08:23] Haroenv commented on #723
Tracking that idea in https://github.com/algolia/npm-search/issues/78

[2017-11-27 17:56] mjackson commented on #723
As a package author, I don't personally want a CDN that I haven't tested and recommended to show up on my package at all. The README should contain all the information anyone needs to install and use my package.

[2017-11-27 17:59] Daniel15 commented on #723
Why though? A CDN is just a network of servers that hosts static content. I'm not quite sure what testing would need to be performed? What if a user of the package wants to use CloudFlare/Akamai/CloudFront/MaxCDN/something else? Would that be disallowed in the readme too?

[2017-11-27 17:59] Haroenv commented on #723
What if the package author simply doesn't know about the CDN or chose not to include all of the CDNs that work @mjackson? I'm not sure if we can assume exclusive supported CDNs just from the readme, and adding a field to package.json seems weird (what if url changes etc.)

What if there could be an affordance so that if it's mentioned in the readme, it gets first and some icon or similar with info

[2017-11-27 18:26] MartinKolarik commented on #723
Actually, I personally prefer npm over yarn, so I wonder if we could make the "Use it" section show `npm install` instead of `yarn add` for my packages 😆

[2017-11-27 20:52] mjackson commented on #723
Sure, @Haroenv. That sounds like a reasonable trade-off. But I would still expect to find better usage instructions in the README.

For example, the unpkg & jsdelivr links take people to a page that lists all the files in a package, which isn't terribly useful. Which file do you need? Many packages ship multiple versions of their library. For example, the `react` package ships both a [production](

[2017-11-27 22:55] Haroenv commented on #723
Good point. We can be consistent in leaving off the trailing space

[2017-11-27 23:07] MartinKolarik commented on #723
The problem is that many packages have a default file that only works on node.js or don't have a default file at all (this includes popular packages such as react or bootstrap). IMHO it's much better to show all files than a wrong or even broken link. I would also argue that in most cases it's obvious which file is the right one.

[2017-11-28 05:06] mjackson commented on #723
React does have a main file, it's just CommonJS. That's why I say that bundle.run is the only CDN that gives people a usable file - because it's the only one that's doing any bundling. 😛

[2017-11-28 05:20] Daniel15 commented on #723
Arguably an UMD module is a better main file, as it supports AMD and globals in addition to CommonJS (so any UMD module will also work fine as a CommonJS module). I guess that's likely to change with native ES6 modules though? My knowledge is likely outdated by this point 😛

[2017-11-28 16:56] mjackson commented on #723
Honestly, this whole addition just feels to me like an attempt by the jsdelivr people to stay relevant. @MartinKolarik put jsdelivr at the top of the list because he works for them.

How about this: can we at least randomize the order of the list? As I've said before, I think the bundle.run link is probably the best one to have under the "Use it" section because it's the only one that actually pro

[2017-11-28 17:46] xtuc commented on #723
Really? The first take you hit a package it needs to run the bundling process (which is super slow) but then it's cached. The next requests are fetched from the cache.

Do you have an example?

[2017-11-28 17:49] Haroenv commented on #723
I think @Daniel15 was talking about the first hit to the bundler

[2017-11-28 17:52] xtuc commented on #723
Yes it's a known issue, maybe a need to figure out something like a cache warmup thing but that's not the place to discuss about that :)

[2017-11-28 17:54] mjackson commented on #723
I'm just saying, if the header says "Use it" the next thing I'd expect to see in the list is probably something like this:

[code]

With a button to click and copy that snippet so you can paste it into your HTML doc. That's probably the most useful thing you can put there.

[2017-11-28 17:56] Daniel15 commented on #723
@mjackson Right, I get you. Maybe the title "Use it" is misleading and it should be something like "Download the files" or something like that, idk.

@xtuc Yeah, I meant the first hit. The bundle.run website doesn't document the cache eviction policies so I have no idea how often the slow loads will be encountered. That's why I'm hesitant to use it.

[2017-11-28 18:10] MartinKolarik commented on #723
@mjackson it's funny to see you trying so hard just to get the order changed. Please don't tell me that if it was you implementing this, you'd have put unpkg last. I'd also like to point out it wasn't *my* idea to add this section.

That said, I'm personally completely fine with randomizing the order if that's what others think is the best solution. We've previously had to do the exact same thing

[2017-11-28 21:30] Daniel15 commented on #723
jsdelivr is still relevant though. It's still very popular, and has features that none of the other services have (eg. APIs for loading usage stats). In my experience, it's usually faster than cdnjs.

[2017-11-29 05:46] ryanflorence commented on #723
I don't get why CDNs are even being listed.

[2017-11-29 06:00] Haroenv commented on #723
Because multiple people asked for it @ryanflorence

[2017-11-29 06:02] ryanflorence commented on #723
What if multiple people ask to remove them? 🤔

It's not really helpful if this website can't know exactly which file on the CDN to use, is it?

[2017-11-29 06:23] Haroenv commented on #723
Open a new issue if you want to see them gone.

I think I’ll close this issue here, the discussion is going on for too long and missing the point.

This is nothing personally against anyone here, it’s just getting draining on me and I feel attacked for small decisions made

[2017-11-29 06:24] Daniel15 commented on #723
Maybe we could update the "Browse Files" view to allow copying CDN links for each listed file? Would that solve some of the concerns? So you look at the file list, determine the right file you need (eg. based on the readme), then there's a handy button to copy a link to that exact file.

[2017-11-29 06:31] Daniel15 opened #732 "Update "Browse Files" to provide easy copy-pasteable CDN URLs"
eg. go to https://yarn.pm/babel-standalone and click "Browse Files"

Currently when you click a file, it just opens that file directly. Maybe instead it should show the CDN links (unpkg, jsdelivr and bundle.run) for each file in a hovercard or dialog box.

[2017-11-29 06:32] Haroenv commented on #732
Perfect idea!

[2017-11-29 06:38] Haroenv commented on #732
Does bundle.run have every file though? Maybe we should use their respective api to make that view

[2017-11-29 09:34] xtuc commented on #732
(FYI @Haroenv i'm behind bundle.run, feel free to ping me if needed).

Bundle.run creates a bundled version of the package, you won't be able to list all files as with unpkg.

[2017-11-29 10:07] MartinKolarik commented on #723
@Daniel15 We're overthinking this. Many projects have CDN links directly in the readme so if you actually start reading it, you may as well copy the links from there. I know it isn't the case for all projects, but in those cases there are often no install instructions at all. I would also argue that for 90% of projects it is obvious which file you should get.

[2017-12-02 15:45] PeterDaveHello commented on #723
CDNJS doesn't have npm to hosted library 1:1 mapping, the `npmName` only works on the libraries using npm registry as auto-update source, though it's not implemented yet, not sure if it's acceptable also to query the repository URL (ignore https, git or ssh protocol prefix) to find the library hosted on CDNJS?

[2017-12-02 15:49] Haroenv commented on #723
I guess that would be the only reasonable way to find the cdnjs url. Do you want to contribute @PeterDaveHello ?

[2017-12-02 16:17] PeterDaveHello commented on #723
@Haroenv I'm not able to write new codes recently, but please feel free to contribute it here: https://github.com/cdnjs/new-website/blob/master/apiServer.js, I'll review ASAP when I can :)

[2017-12-05 08:34] metareven commented on #514
Why is this issue closed?

[2017-12-05 09:36] Haroenv commented on #514
We should be able to have an uninstall script which also detects the profile and deletes it

https://github.com/yarnpkg/website/blob/67843c54fcf5625284081d35f3437523bb4da5fd/install.sh#L115-L155

[2017-12-05 10:12] Haroenv commented on #644
All packages have downloads now, 10.5k (I had to do a double take) for [yarn.pm/@yarnpkg/lockfile](https://yarn.pm/@yarnpkg/lockfile)

[2017-12-05 10:12] #644 closed

[2017-12-05 10:14] Haroenv commented on #728
Teams are the same as npm, but this should need some docs: https://docs.npmjs.com/cli/team

[2017-12-05 10:15] Haroenv commented on #713
Please reopen if you still have that issue

[2017-12-05 10:15] #713 closed

[2017-12-05 19:36] rally25rs opened #736 "No docs page for `prune` command."
[code]

No docs page exists for this command. A quick writeup on why the prune command isn't necessary would be helpful.

[2017-12-05 22:52] iansu commented on #736
I originally reported this in the yarn repo. It looks like this also applies to the `dedupe` and `lockfile` commands. They all link to `https://yarnpkg.com/en/docs/cli/<command>` and none of those pages exist in the docs.

[2017-12-06 09:18] #736 closed

[2017-12-09 22:27] vjeux opened #739 "List of dependents sorted by download count"
I'm trying to figure out where the almost 2 million downloads for prettier are coming from. Would be nice to have a list of all the dependents sorted by number of downloads.

![24852251_216477648894393_370888951655792518_n](https://user-images.githubusercontent.com/197597/33800031-ed1063be-dcec-11e7-8820-20409899afef.jpg)

cc @Haroenv

[2017-12-10 14:11] Haroenv commented on #739
That’s actually a big we have in where the number comes from. Npm doesn’t really have a good api for getting it, it stopped working correctly some time ago. The link there leads to the list though.  See also https://github.com/algolia/npm-search/issues/63

[2017-12-10 16:31] vjeux commented on #739
Yeah, npm info is also not useful so I figured I would ask you :p github also has a list of dependents but also not sorted by stars :(

I guess I’ll continue to live in ignorance for now :p

[2017-12-10 18:22] Haroenv commented on #739
I’ll take a look what a good source can be though

[2017-12-21 22:08] iansu opened #742 "Syntax highlighting makes .yarnrc examples hard to read"
The syntax highlighting on this page makes the code hard to read: https://yarnpkg.com/en/docs/yarnrc

[2017-12-21 22:56] Haroenv commented on #742
Cc @mtxr

[2017-12-22 08:20] #742 closed

[2017-12-30 19:28] leonardosnt commented on #594
I got it working: ![peek 2017-12-30 17-02](https://user-images.githubusercontent.com/13869336/34456745-341c00a2-ed86-11e7-9b25-6bcb46498dce.gif)

Here is the code: https://github.com/leonardosnt/website/commit/04b1e0dcf39699d57c1f2fcfe7890b2bf6158069
What do you think?

[2017-12-31 05:37] Haroenv commented on #594
That looks great @leonardosnt, are you opening up a pr?

[2017-12-31 16:57] leonardosnt commented on #594
Sure, here it is: #748

[2018-01-09 04:50] #594 closed

[2018-01-09 05:56] u3u opened #751 "How to update avatar?"
The [website](https://yarnpkg.com) displays the old avatar, while the NPM website uses the [Gravatar](https://en.gravatar.com/) avatar.
So where should I change the avatar?

[2018-01-09 07:13] Daniel15 commented on #751
It's supposed to use your GitHub avatar.

@Haroenv Do you know the caching policy on these `cloudinary.com` image URLs? I'm not familiar with this service that the Yarn site is using for resizing.

Right now, https://res.cloudinary.com/hilnmyskv/image/fetch/w_40,h_40,f_auto,q_80,fl_lossy/https://github.com/u3u.png (URL used by Yarn site) shows @u3u's old avatar, while directly going to https://git

[2018-01-09 08:32] Haroenv commented on #751
Hey @u3u, if I remember correctly, we have a very long cache age. I've noticed other outdated images. @vvo, can you check what the age for the images is and if it could be changed to something more reasonable (maybe a month?)

[2018-01-09 08:46] u3u commented on #751
@Haroenv Yes, I know there is a cache, but this cache is too long! This picture is now displayed or a few months ago! Can you provide a manual API to clear the cache? Because I often change the avatar 😂

[2018-01-13 07:19] mojavelinux opened #754 "Show repository information for packages hosted on GitLab"
If I publish a package to npm that's hosted on GitLab, the repository information (from the repository field in package.json) does not appear on yarnpkg.com.

Examples:

* https://yarnpkg.com/en/package/@antora/cli
* https://yarnpkg.com/en/package/semantic-release-gitlab

Yet Yarn claims to support GitLab repositories on the following page in the documentation.

https://yarnpkg.com/en/docs/package

[2018-01-13 07:54] Haroenv commented on #754
Hey, thanks for asking for this support, we didn’t yet add that because nobody asked for the support on the website. Do you want to contribute to adding that data?

It’s pretty odd that the readme doesn’t display for `@antora/cli`. I’d expect it to show, but maybe there’s a bug where it will always fetch GitHub?

EDIT: no the bug is also in npm: registry.npmjs.com/semantic-release-gitlab (they use

[2018-01-13 08:04] mojavelinux commented on #754
Thanks for the quick response and for considering better support for packages on GitLab. GitLab is growing very rapidly in popularity, so I think this will be a welcomed enhancement. I'd be happy to help.

To clarify, I wasn't focused on the README. That's not the concern here. The concern is that the information about the repository is missing from the right-hand sidebar. Notice the difference be

[2018-01-13 08:05] mojavelinux commented on #754
Here's the repository information in package.json.

[code]

[2018-01-13 08:07] Haroenv commented on #754
Ah, that extraction is also done in `npm-search`, we can add another key `gitlabRepo` with all relevant information and display that on the site if it’s there

[2018-01-14 01:05] leonardosnt commented on #754
@Haroenv

I think it would be great if `npm-search` adds the '[repository](https://yarnpkg.com/en/docs/package-json#toc-repository)' key to the [Schema](https://github.com/algolia/npm-search#schema). Because, right now, if we want to add support to Gitlab, we can't. Unless we change the Algolia Schema (like adding `gitlabRepo`, as you said). By exposing the 'repository', we could handle it directl

[2018-01-14 09:10] Haroenv commented on #754
Also a good idea. Feel free to open a pr for it there and let me know if you need any testing setup

[2018-01-14 15:18] leonardosnt commented on #754
I think just adding `repository: cleaned.repository,` here:

https://github.com/algolia/npm-search/blob/c6196be9d9a7e45f34ec9cb846287fbf6fff0b6a/formatPkg.js#L48

it would work, right?

[2018-01-14 16:21] Haroenv commented on #754
It should definitely help. Feel free to refactor it to have the head, branch, host and path in that structure, so that we can be more flexible. Please leave the githubRepo key for now though to leave it backwards compatible.

[2018-01-15 05:23] ajaymathur opened #756 "Page kind of resets on searching for package"
As soon as we search for keyword **package** the website page resets.

I am not sure why it happens, but happy help in resolving it. 🙂

[2018-01-15 07:44] Haroenv commented on #756
that's absolutely odd, from the error message I think `downloads` is undefined with a package, but not sure yet

[2018-01-15 07:59] #756 closed

[2018-01-15 16:04] fson opened #758 "yarn.pm certificate expired"
Package short-urls such as https://yarn.pm/yarn currently display a certificate warning, because the certificate has expired.

<img width="684" alt="screen shot 2018-01-15 at 18 03 19" src="https://user-images.githubusercontent.com/497214/34951295-68da2fcc-fa1e-11e7-881f-0a078e887bca.png">

[2018-01-15 16:20] leonardosnt commented on #754
@Haroenv is it possible to test npm-search locally?

[2018-01-15 16:25] Haroenv commented on #758
@Daniel15

[2018-01-15 16:27] Haroenv commented on #754
yes, @leonardosnt, but you'll need an Algolia account, and will need to leave out some of the values (like readme and versions) in `formatPkg`. If you give me the account + appId you're using to test, I can give you high enough limits to test it

[2018-01-15 17:08] Daniel15 commented on #758
Oops! I'll take a look.

Sent from my phone.

On Jan 15, 2018 8:04 AM, "Ville Immonen" <notifications@github.com> wrote:

[2018-01-15 17:23] leonardosnt commented on #754
Great! The account's email is: **devleeo@outlook.com** and the appId is: **8F7CBTKVH9**

[2018-01-15 17:46] Daniel15 commented on #758
Huh, that's strange because normally certbot automatically renews the cert. It didn't think that it was up for renewal yet:
[code]

I just forced a renewal and it seems OK now.

[2018-01-15 17:46] #758 closed

[2018-01-15 18:04] DanBuild opened #759 "yarn-version #39 failed"
Build 'yarn-version' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [Daniel15's Build Bot] 9b5707f6736ed1080fd61a59a37852964de77fde - Automated upgrade to Yarn 1.4.0

[View full output](https://build.dan.cx/job/yarn-version/39/)

cc @Daniel15

[2018-01-16 11:08] Haroenv commented on #754
I added you to a testing app @leonardosnt, feel free to get back if you need any help

[2018-01-16 14:39] leonardosnt commented on #754
I'm not sure where I can get **head** and **branch**, can you give me a hint?

The current structure looks like this:
[code]

I also created some tests to make sure this is working, if you wanna see: https://gist.github.com/leonardosnt/7b1ae70f1c04b045587c73e5b2c9bcde

[2018-01-16 14:50] Haroenv commented on #754
head is `gitHead`, branch is `gitHead || 'master'`. I just added tests in https://github.com/algolia/npm-search/pull/99 so you can add on to that setup 😄 Super work!

[2018-01-16 16:59] leonardosnt commented on #754
The snapshot looks like this:

Note: it also includes the default **repository** keys (**type** and **url**)
[code]

What do you think @Haroenv ?

[2018-01-16 18:18] Haroenv commented on #754
That seems to be good, will be useful to construct a UI from

[2018-01-16 19:05] leonardosnt commented on #754
@Haroenv, here is the PR: https://github.com/algolia/npm-search/pull/101

[2018-01-16 19:47] mojavelinux commented on #754
Could this be displayed on the website as https://bitbucket.org/atlassian/atlaskit? Otherwise, it wouldn't be browsable.

[2018-01-16 20:12] leonardosnt commented on #754
**type** and **url** are exactly as defined in package.json, we just copy them. We can use **host**, **project** and **user** to create a browsable URL.

[2018-01-17 01:56] mnpenner commented on #630
The number shown in badges over at https://nodei.co/ seems to be much more reasonable.

[2018-01-17 15:11] leonardosnt commented on #754
@Haroenv We need svg icons for Gitlab (and Bitbucket), any clue where I can find them?

[2018-01-17 15:16] Haroenv commented on #754
https://gitlab.com/gitlab-com/gitlab-artwork/blob/master/logo/logo-monocolor.svg for gitlab

https://www.atlassian.com/dam/jcr:bd56917e-e361-4f03-b672-9f5ef5b06e80/Bitbucket-blue.svg (but we need to make it mono) for bitbucket

Also run them through https://jakearchibald.github.io/svgomg/ to be sure

[2018-01-17 15:19] Haroenv commented on #754
making a mono version now

[2018-01-17 15:27] Haroenv commented on #754
BitBucket

[code]

GitLab:

[code]

[2018-01-17 18:33] Daniel15 opened #761 "Install script should check for expected GPG subkeys"
See https://github.com/yarnpkg/yarn/issues/5223

Currently it just checks for the main GPG key, but that doesn't handle if we've recently rotated the subkeys. It should check that the proper subkey is present, too.

[2018-01-19 04:13] eespitiarea opened #762 "Document yarn installation using nvm (Ubuntu)"
Please include `apt-get install --no-install-recommends yarn` option in the documentation for installing yarn at linux for those using nvm, would save us beginners a google search and possible headaches.

Appreciated.

:smile_cat:

[2018-01-19 08:15] Haroenv commented on #762
Feel free to make a pr with your proposed changes

[2018-01-19 17:28] leonardosnt commented on #754
Basic support is working:
#### Search:
Gitlab
![](https://i.imgur.com/el1FwVE.png)
Bitbucket
![](https://i.imgur.com/DKMo85i.png)

#### Details:
Gitlab
![](https://i.imgur.com/0lMuqOM.png)
Bitbucket
![](https://i.imgur.com/01fYQtb.png)

[2018-01-19 17:47] Haroenv commented on #754
Very awesome. The hard part is in rewriting the urls for README and CHANGELOG (there's actually a smaller bug there right now where a # on the same page will link to GitHub instead of locally). That logic is in Markdown.js

[2018-01-19 19:32] leonardosnt commented on #754
@Haroenv Hey, can you update that Algolia testing app?

[2018-01-19 21:23] Haroenv commented on #754
@leonardosnt, you can use the production app for testing the website

[2018-01-20 15:49] rheaditi commented on #651
Hi @Haroenv,
I'd like to pick this up! 🙂

Where in the docs do you feel the section pertaining to this makes sense? I've currently added it to the `yarn run` page. However, is there a page that is more appropriate for this? 😄

[2018-01-20 21:29] Haroenv commented on #651
The main command page too I think @rheaditi

[2018-01-20 23:55] lukewendling commented on #509
This thread and the SO link above by @johntron both dead-end when ppl ask how npm shrinkwrap is less reliable than yarn. I prefer to use 'native' tools whenever possible, so if this is a case of a community solution that _was_ better but has now pushed npm to improve shrinkwrapping to the point that the later is now sufficient, i'd love to know. from my own experience, I have yet to encounter a ca

[2018-01-21 13:36] leonardosnt commented on #754
@Haroenv I know, I'm using... I just needed to create some records manually, but nvm, I don't need it anymore :)

Changing the subject, there is no such **commit_activity** on Gitlab or Bitbucket, we would need to fetch hundreds kilobytes (or even megabytes, depending how large the project is) of data to just count the number commits (in order to display the graph and the _Commits last 3 months_),

[2018-01-21 18:54] Haroenv commented on #754
We can just fill it with whatever info we have I think

[2018-01-21 18:54] Haroenv commented on #754
It’ll encourage someone to fill it in if they know a source

[2018-01-22 09:35] mojavelinux commented on #754
I'm pretty sure GitLab has an activity API, which is how this screen is created:

https://gitlab.com/antora/antora/activity

I would imagine they are using https://docs.gitlab.com/ce/api/events.html#list-a-project-39-s-visible-events

[2018-01-22 09:48] Haroenv commented on #754
@mojavelinux, the commit_activity API in GitHub is way more focused to the numbers we need to draw that graph in the sidebar, I couldn't find an API which gives info like this:

[code]

(we're limiting what we use from that to the `total` from each week in the last 3 months, but another fidelity could also work)

[2018-01-22 10:04] mojavelinux commented on #754
Ah, I see. You are looking more for a summary. Once we can demonstrate support for GitLab on yarkpkg.com, we may be able to convince them to add such a feature. I'll file an issue if need be once we get to that stage.

[2018-01-22 10:05] mojavelinux commented on #754
As a user of yarnpkg.com, I'll share that the most useful bit of information is when did the last commit happen. That speaks volumes. I can use that to quickly determine if a project is alive at all or not.

[2018-01-22 19:39] leonardosnt commented on #754
I think it is done. 🎉

Bitbucket example package
![localhost_4000_lang_en_package__atlassian-connect-express](https://user-images.githubusercontent.com/13869336/35240504-caf781ba-ff9a-11e7-9454-e9b1bde681db.png)
Gitlab example package
![localhost_4000_lang_en_package__semantic-release-gitlab](https://user-images.githubusercontent.com/13869336/35240505-cb1ca63e-ff9a-11e7-83ad-f6c35da7e4b4.png)

[2018-01-22 19:41] Haroenv commented on #754
Awesome 😎 looking forward to your PR

[2018-01-22 20:16] leonardosnt commented on #754
Here is the comparison, if you wanna take a look. https://github.com/yarnpkg/website/compare/master...leonardosnt:gitlab-bitbucket-support
I just need to finish these TODOs:
https://github.com/leonardosnt/website/blob/ddb6841a08b07b43fc5b21d96f3166ef87bf92b7/js/src/lib/Details/Links.js#L31
https://github.com/leonardosnt/website/blob/ddb6841a08b07b43fc5b21d96f3166ef87bf92b7/js/src/lib/Search/index.